<span style="margin-top: 0.5%">
	<div class="progress"> 
		<div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{data.progress * 100}}%"
				 ng-class="{'progress-bar-danger': data.progress < 0.33, 'progress-bar-warning': data.progress < 0.66, 'progress-bar-default': data.progress < 1, 'progress-bar-success': data.progress == 1}">
			<span ng-class="data.progress <= 0.10 ? 'progressBlack' : ''">
				<strong>{{data.progress * 100}}%</strong>
			</span>
		</div>
	</div>
</span>