<uib-accordion class="panel">
	<div style="margin: auto; width: 0%">
		<div class="loader" ng-class="{'fadeOut': station.tests.length > 0}" ng-hide="plan.errors.length > 0"></div>
	</div>
	<div ng-show="plan.errors.length > 0 || !plan.tests.length > 0" ng-repeat="error in plan.errors">
		<div class="alert alert-danger fadeIn" role="alert">{{error.msg}}</div>
	</div>
	<div uib-accordion-group ng-if="station.tests.length > 0 && (!plan.errors || plan.errors.length == 0)" ng-repeat="test in station.tests | orderBy: ['station_id','priority'] track by $index" class="panel-default fadeIn" is-open="test.isOpen" is-disabled="status.isFirstDisabled" style="border-top-width: 4px; border-top-color: {{test.station_color}}" ng-class="{'fadeOut': test.visible == 0}" ng-click="getTestData(test)">
		<uib-accordion-heading>
			<strong>Priority: {{test.priority}}, Station: {{test.name}}, Test: {{test.test_name}} , ID: #{{test.test_id}} , {{test.time}}</strong>
			<span class="pull-right glyphicon" ng-class="test.isOpen ? 'glyphicon-chevron-down' : 'glyphicon-chevron-left'"></span>
			<span class="pull-right">
<!--				<span class="glyphicon glyphicon-envelope" ng-if="test.comments.length > 0" id="testStatus"></span>-->
				<span class="label"
							ng-model="status"
							ng-class="[{'label-default': test.status_id == 4, 'label-warning': test.status_id == 2, 'label-success': test.status_id == 0, 'label-danger': (test.status_id == 3 || test.status_id == 1), 'label-info': test.status_id == -1}]"
							style="font-size: x-small; margin-left: -20%;"
							>{{test.test_status}}</span>
<!-----------------------------------------------------------				Temp Fix - Guin Needed				----------------------------------------------------------->
			</span>
		</uib-accordion-heading>
		<div>
		<test-progress-bar class="col-md-12" data="test"></test-progress-bar>
		<div class="col-md-11">
			<test-bar></test-bar>
		</div>
			<span class="pull-right" ng-if="currentUser.username == plan.user_username || currentUser.rank > '10'">
				<a class="btn btn-xs btn-warning" href="#/plans/{{plan.id}}/test/{{test.test_id}}/edit">Edit</a>
				<button class="btn btn-danger btn-xs" type="button" data-toggle="modal" data-target="#testModal{{test.test_id}}">Delete</button>
				<!--	Modal		-->
				<div class="modal fade" id="testModal{{test.test_id}}" tabindex="-1" role="dialog" aria-labelledby="Confirmation">
					<div class="modal-dialog modal-sm" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title" id="testModal{{test.test_id}}">Confirm Delete?</h4>
							</div>
							<div class="modal-body">
								<button class="btn btn-danger" data-dismiss="modal" ng-click="deleteTest(test.test_id, plan)" type="button">Delete Test</button>
								<button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</span>
		</div>
		<uib-accordion>
			<div style="margin: auto; width: 0%; margin-top: 8%">
				<div class="loader" ng-class="{'fadeOut': test.sweeps}" ng-hide="test.sweeps"></div>
			</div>
			<div ng-show="test.sweeps" class="fadeIn">
				<test-struct-view ></test-struct-view>
				<div class="pull-right">
					<button class="btn btn-xs btn-success col-lg-5 addButton" Data-toggle="collapse" data-target="#Comment{{test.test_id}}" aria-expanded="false" aria-controls="Comment{{test.test_id}}">Add New Comment</button>
				</div>
				<div style="margin-top: 2%;">
					<test-footer></test-footer>
				</div>
			</div>
		</uib-accordion>
		<test-errors ng-if="test.errors.length > 0 && currentUser.group_id == 7"></test-errors>
	</div>
</uib-accordion>
