<!DOCTYPE html>
<html>

<head>
	<!--	<base href="/">-->
	<title>DVT-Web</title>
	<link rel="icon" href="Qualcomm-icon-2018.ico" type="image/ico">
	<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
	<script type="text/javascript" src="assets/lib/jquery.lazy/jquery.lazy.js"></script>
<!--	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>-->

	<!-- Angular -->
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-animate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular-sanitize.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-touch.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-route.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.4/angular-material.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/hammerjs/2.0.8/hammer.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-cookies.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
	<script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
	<!-- Angular Flash -->
	<script src="assets/lib/angular-flash/dist/angular-flash.min.js"></script>
	<!-- UI-Bootstrap -->
	<script type="text/javascript" src="assets/lib/ui-bootstrap/ui-bootstrap-2.5.0.min.js"></script>
	<link rel="stylesheet" type="text/css" href="assets/lib/ui-bootstrap/ui-bootstrap-2.5.0-csp.css">
	<script type="text/javascript" src="assets/lib/ui-bootstrap/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<!-- MomentJS -->
	<script type="text/javascript" src="assets/lib/momentJS/moment.min.js"></script>
	<!-- InteractJS -->
	<script type="text/javascript" src="assets/lib/interactJS/interact.min.js"></script>
	<!-- FullCalendar -->
	<script type="text/javascript" src="assets/lib/fullcalendar/fullcalendar.min.js"></script>
	<link rel="stylesheet" type="text/css" href="assets/lib/fullcalendar/fullcalendar.min.css">
	<!-- UI-Calendar -->
	<script type="text/javascript" src="assets/lib/ui-calendar/src/calendar.js"></script>
	<!-- Multiselect -->
	<script type="text/javascript" src="assets/lib/angular-bootstrap-multiselect/dist/angular-bootstrap-multiselect.js"></script>
	

	<!-- Bootstrap -->
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- DataTables -->
<!--
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css">
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
-->
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	
	<!-- Text Editor -->
	<script src="./assets/lib/Trumbowyg/dist/trumbowyg.min.js"></script>
	<script src="assets/lib/trumbowyg-ng/dist/trumbowyg-ng.js"></script>
	<script src="assets/lib/Trumbowyg/dist/plugins/colors/trumbowyg.colors.js"></script>
	<script src="assets/lib/Trumbowyg/dist/plugins/upload/trumbowyg.upload.min.js"></script>
	<link rel="stylesheet" href="assets/lib/Trumbowyg/dist/ui/trumbowyg.min.css">
	<link rel="stylesheet" href="assets/lib/Trumbowyg/dist/plugins/colors/ui/trumbowyg.colors.css">
<!--	<script src="assets/lib/ckeditor/classic/ckeditor.js"></script>-->
	<script src="assets/lib/ckeditor/inline/ckeditor.js"></script>
	
	<!-- Select2 -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.20.0/select.min.js"></script>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.4.5/select2.css">
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
	
	<!-- angular file upload -->
<!--	<script type="text/javascript" src="assets/lib/angular-file-upload/dist/angular-file-upload.min.js"></script>-->
	<script type="text/javascript" src="assets/lib/angular-file-saver/dist/angular-file-saver.bundle.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>
	<script type="text/javascript" src="assets/lib/js-xlsx/shim.js"></script>
	<script type="text/javascript" src="assets/lib/js-xlsx/dist/xlsx.core.min.js"></script>
	<script type="text/javascript" src="assets/lib/js-xlsx/dist/xlsx.full.min.js"></script>

	<!-- Costum -->
	<script type="text/javascript" src="app.js"></script>
	<link rel="stylesheet" href="assets/lib/css/main.css" type="text/css">
	<link rel="stylesheet" href="assets/lib/css/nga.min.css" type="text/css">
	<script type="text/javascript" src="services/multiselect.service.js"></script>
	<!--  Register	-->
	<script type="text/javascript" src="controllers/register.controller.js"></script>
	<!--  Sign in	-->
	<script type="text/javascript" src="controllers/home.controller.js"></script>
	<!--	test	-->
	<script type="text/javascript" src="controllers/test.controller.js"></script>
	<!--  Reports	-->
	<script type="text/javascript" src="controllers/plans/plans.controller.js"></script>
	<script type="text/javascript" src="controllers/plans/view.controller.js"></script>
	<script type="text/javascript" src="controllers/plans/new.controller.js"></script>
	<script type="text/javascript" src="controllers/plans/addtest.controller.js"></script>
	<script type="text/javascript" src="controllers/plans/edit.controller.js"></script>
	<script type="text/javascript" src="controllers/robot/index.controller.js"></script>
	<script type="text/javascript" src="controllers/robot/new.controller.js"></script>
	<script type="text/javascript" src="controllers/robot/addtests.controller.js"></script>
	<script type="text/javascript" src="controllers/robot/edit.controller.js"></script>
	<script type="text/javascript" src="controllers/robot/view.controller.js"></script>
	<script type="text/javascript" src="controllers/admin/search.controller.js"></script>
	<script type="text/javascript" src="controllers/comments/new.controller.js"></script>
	<script type="text/javascript" src="controllers/comments/edit.controller.js"></script>
	<script type="text/javascript" src="controllers/admin/panel.controller.js"></script>
	<script type="text/javascript" src="controllers/admin/chip.controller.js"></script>
	<script type="text/javascript" src="controllers/admin/test.controller.js"></script>
	<script type="text/javascript" src="controllers/admin/station.controller.js"></script>
	<script type="text/javascript" src="controllers/admin/editstation.controller.js"></script>
	<script type="text/javascript" src="controllers/admin/chiplist.controller.js"></script>
	<script type="text/javascript" src="controllers/admin/testlist.controller.js"></script>
	<script type="text/javascript" src="controllers/admin/stationlist.controller.js"></script>
	<script type="text/javascript" src="controllers/admin/iterationlist.controller.js"></script>
	<script type="text/javascript" src="controllers/admin/edititeration.controller.js"></script>
	<script type="text/javascript" src="controllers/admin/operations.controller.js"></script>
	<!--  Tasks	-->
	<script type="text/javascript" src="controllers/tasks/tasks.controller.js"></script>
	<script type="text/javascript" src="controllers/tasks/newTask.controller.js"></script>
	<script type="text/javascript" src="controllers/tasks/view.controller.js"></script>
	<script type="text/javascript" src="controllers/tasks/edit.controller.js"></script>
	<script type="text/javascript" src="controllers/tasks/comments/new.controller.js"></script>
	<!--  Lineups	-->
	<script type="text/javascript" src="controllers/lineups/lineups.controller.js"></script>
	<script type="text/javascript" src="controllers/lineups/new.controller.js"></script>
	<script type="text/javascript" src="controllers/lineups/check.controller.js"></script>
	<!--  Profile	-->
	<script type="text/javascript" src="controllers/profile/myTasks.controller.js"></script>
	<!--  Operators	-->
	<script type="text/javascript" src="controllers/operators/calendar.controller.js"></script>
</head>

<body ng-app="myApp" ng-controller="homeCtrl">
	<div class="container">
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				  </button>
					<a class="navbar-brand" href="#">Home</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul ng-if="isAuthenticated()" class="nav navbar-nav">
						<li><a href="#/plans">All Plans</a></li>
						<li><a href="#/plans/new">New Plan</a></li>
						<li  class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Lineup GUI<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li ng-if="currentUser.group_id == 7"><a href="#/lineups/new">New Lineup</a></li>
								<li ng-if="currentUser.group_id == 7"><a href="#/lineups/check">Check Lineup</a></li>
							</ul>
						</li>
						<li><a href="#/tasks">Tasks</a></li>
						<li><a href="#/admin/search">Search</a></li>
						<li ng-if="currentUser.username > 60"><a href="#/operators/calendar">Calendar</a></li>
						<li><a href="#/admin">Admin Panel</a></li>
					</ul>
					<!--	Dropdown user panel	-->
					<ul ng-if="isAuthenticated()" class="nav navbar-nav navbar-right">
						 <li  class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{currentUser.fname}} {{currentUser.lname}}<span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li ng-if="currentUser.group_id == 7"><a href="#/{{currentUser.username}}/tasks">My tasks</a></li>
								<li role="separator" class="divider"></li>
								<li><a href="" ng-click="logout()">Log Out</a></li>
							</ul>
						</li>
					</ul>
					
					
					<ul ng-if="!isAuthenticated()" class="nav navbar-nav">
						<li><a href="#/register">Sign up</a></li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>
	
	<div id="mainDiv">
		<flash-message></flash-message>
		<div ng-if="!isAuthenticated() && location == register">
			<div class="row " ng-controller="homeCtrl">
				<div class="col-lg-6 col-sm-6 well">
					<form>
						<legend>Login</legend>
						<div class="form-group">
							<div class="row colbox">
								<div class="col-lg-4 col-sm-4">
									<label for="username" class="control-label">Username</label>
								</div>
								<div class="col-lg-8 col-sm-8">
									<input class="form-control" id="username" name="username" ng-model="user.username" placeholder="Username" type="text" value="" autofocus />

								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="row colbox">
								<div class="col-lg-4 col-sm-4">
									<label for="password" class="control-label">Password</label>
								</div>
								<div class="col-lg-8 col-sm-8">
									<input class="form-control" id="password" name="password" ng-model="user.password" placeholder="Password" type="password" value="" />

								</div>
							</div>
						</div>

						<div class="form-group">
							<div class="col-lg-12 col-sm-12 text-center">
								<input id="btn_login" name="btn_login" type="submit" class="btn btn-default" value="Login" ng-click="login()" />
								<!--					<input id="btn_cancel" name="btn_cancel" type="reset" class="btn btn-default" value="Logout" />-->
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<div ng-if="isAuthenticated() || location == register">
			<div ng-view ></div>
		</div>
	</div>
</body>

</html>