<div ng-if="isAuthenticated == true">
	<div class="row">
		<div class="bs-callout bs-callout-info col-md-offset-3 col-md-6">
			<p>Color Assitance:</p>
			<div class="col-md-5">
				<span class="label label-primary">Field Name</span> - Optional	
			</div>
			<div class="col-md-7">
				<span class="label label-danger">Field Name</span> - Required
			</div>		
		</div>
	</div>
	<form>
		<div class="panel panel-primary">
			<div class="panel-heading">New Test Plan</div>
			<div id="plan">
				<robot-testform ng-repeat="test in testCount track by $index" test="test" plan-params="array" params="params"></robot-testform>
			</div>
			<div class="panel-body">
				<div class="col-md-12">
				<button class="btn btn-xs btn-primary addButton" ng-click="addTest()">
					Add Test!
				</button>
					<button class="btn btn-xs btn-danger addButton" ng-click="removeTest()">
					Remove Test!
				</button>
				</div>
				<div class="col-md-12">
					<button class="btn btn-lg btn-success col-lg-3" ng-click="addPlan()">Submit! <span class="glyphicon glyphicon-send"></span></button>
				</div>
			</div>
		</div>
	</form>
</div>
