<div class="containter">
	<div class="row rowMarg">
		<div class="bs-callout bs-callout-infoC col-md-offset-3 col-md-6">
			<p>Color Assitance:</p>
			<div class="col-md-5">
				<span class="label label-default">IDLE</span> - No chip running
			</div>
			<div class="col-md-7">
				<span class="label label-success">Completed</span> - All chips completed successfully
			</div>
			<div class="col-md-5">
				<span class="label label-warning">In Progress</span> - Test is running
			</div>
			<div class="col-md-7">
				<span class="label label-danger">Error</span> - 1 chip or more has an error
			</div>
		</div>
		<div>
			<div class="col-md-2 col-sm-2 col-xs-3 row">
				<span class="label label-primary">Test Priority:</span>
				<select class="form-control" ng-model="testPriority">
					<option value="">all</option>
					<option ng-repeat="test in plan.tests | orderBy:['priority']| unique:'priority'">{{test.priority}}</option>
				</select>
			</div>
		</div>
	</div>
</div>
</br>
<div class="panel panel-primary">
	<div class="panel-heading">Submitted by: {{plan.user_username}}
		<span ng-show="currentUser.rank > '10' || currentUser.username == plan.user_username" class="pull-right">{{ plan.date }}
			<a class="btn btn-sm btn-success" href="#/robot/{{plan.id}}/addtests">
            	Add Tests
        	</a>
			<button class="btn btn-sm btn-danger" ng-click="removePlan()">
            	Delete
        	</button>
		</span>
	</div>
	<div class="panel-body" id="planBody" ng-repeat="test in plan.tests | orderBy: 'priority'| filter:{priority: testPriority, station: testStation, name: testName} track by $index">
		<div id="desc" class="panel panel-default" ng-class="{'panel-R1' : test.station[0].station == 'R-CB1', 'panel-R2' : test.station[0].station == 'R-CB2', 'panel-M1' : test.station[0].station == 'M-CB1', 'panel-M2' : test.station[0].station == 'M-CB2'}">
			<div class="panel-heading" style="height:40px">
				<span Data-toggle="collapse" data-target="#{{test.id}}" aria-expanded="false" aria-controls="{{test.id}}" ng-click="onOff=!onOff" class="col-md-10">
					<strong>Priority: {{test.priority}}, Test: {{test.test_name}}, ID: {{test.id}}</strong>
				</span>
				
				<span class="pull-right glyphicon" ng-class="onOff ? 'glyphicon-chevron-down' : 'glyphicon-chevron-left'"></span>
				<span class="pull-right" ng-click="testStatus(test.status, test.id)">
					<span class="glyphicon glyphicon-envelope" ng-if="test.comments.length > 0" id="testStatus"></span>
				<span class="label label-default" ng-if="test.status == 'IDLE'" id="testStatus" ng-model="test.status">{{test.status}}</span>
				<span class="label label-success" ng-if="test.status == 'Completed'" id="testStatus" ng-model="test.status">{{test.status}}</span>
				<span class="label label-warning" ng-if="test.status == 'In Progress'" id="testStatus" ng-model="test.status">{{test.status}}</span>
				<span class="label label-danger" ng-if="test.status == 'Error'" id="testStatus" ng-model="test.status">{{test.status}}</span>
				</span>
			</div>
			<div class="collapse fade" id="{{test.id}}">
				<div class="panel-body">
					<div ng-if="currentUser.username == plan.user_username || currentUser.rank > '10'" class="col-md-3 col-sm-2 col-sm-offset-10">
						<a class="btn btn-xs btn-warning col-sm-offset-4" href="#/robot/{{plan.id}}/test/{{test.id}}/edit">Edit</a>
						<a class="btn btn-xs btn-danger btn-crud" ng-click="removeTest()">
							Delete
						</a>
					</div>
					<div class="row">
						<div class="col-md-1 col-sm-2">
							<span class="label label-primary">ID:</span>
							<label class="form-control">{{test.id}}</label>
						</div>
						<div class="col-md-1 col-sm-2">
							<span class="label label-primary">Priority:</span>
							<label class="form-control">{{test.priority}}</label>
						</div>
						<div class="col-md-3 col-sm-3">
							<span class="label label-primary">Matlab File:</span>
							<label class="form-control">{{test.matlab_file}}</label>
						</div>
						<div class="col-md-3 col-sm-3">
							<span class="label label-primary">Test Name:</span>
							<label class="form-control">{{test.test_name}}</label>
						</div>
						<div class="col-md-2 col-sm-2">
							<span class="label label-primary">RF Module:</span>
							<label class="form-control">{{test.rf_module}}</label>
						</div>
						<div class="col-md-2 col-sm-3">
							<span class="label label-primary">Module Placenent:</span>
							<label class="form-control">{{test.module_placement}}</label>
						</div>
					</div>
					<div class="row">
						<div class="col-md-2 col-sm-3">
							<span class="label label-primary">RF Cable:</span>
							<label class="form-control">{{test.rf_cable}}</label>
						</div>
						<div class="col-md-10 col-sm-8">
							<span class="label label-primary">File Name:</span>
							<label class="form-control">{{test.file_name}}</label>
						</div>
						<div class="col-md-10 col-sm-8">
							<span class="label label-primary">Module File:</span>
							<label class="form-control">{{test.module_file}}</label>
						</div>
						<!--
						<div class="col-md-2">
							<div class="panel-body">
								<span class="label label-primary">Station:</span>
								<label class="form-control">{{test.station[0].station}}</label>
								<ul class="list-group">
									<li class="list-group-item">
										<strong>Station Computer: </strong> {{test.station[0].pc_name}}
									</li>
									<li class="list-group-item">
										<strong>WWC Computer: </strong> {{test.station[0].pc_wwc}}
									</li>
									<li class="list-group-item">
										<strong>Chip Computer: </strong> {{test.station[0].pc_chip}}
									</li>
								</ul>
							</div>
						</div>
-->
					</div>
					<div class="row">
						<div class="col-md-1 col-sm-3" ng-switch="test.pol2_flag">
							<div ng-switch-when="null">
							<span class="label label-primary">Second Polarization Flag:</span>
								<label class="form-control">0</label>
							</div>
							<div ng-switch-default>
								<span class="label label-primary">Second Polarization Flag:</span>
								<label class="form-control">{{test.pol2_flag}}</label>
							</div>
						</div>
						<div class="col-md-2 col-sm-3" ng-if="test.used_sectors">
							<span class="label label-primary">Used Sectors:</span>
							<label class="form-control">{{test.used_sectors}}</label>
						</div>
						<div class="col-md-8 col-sm-8" ng-if="test.board_file">
							<span class="label label-primary">Board File:</span>
							<label class="form-control">{{test.board_file}}</label>
						</div>
					</div>
					<div class="row panel-body">
						<div class="panel panel-default rowMarg">
							<div class="panel-heading" Data-toggle="collapse" data-target="#{{$id}}" aria-expanded="false" aria-controls="struct">
								Test Struct
							</div>
							<div class="collapse panel-body" id="{{$id}}">
								<div class="col-md-2">
									<span class="label label-primary">R Silocon</span>
									<label class="form-control">{{test.struct.r_silicon}}</label>
								</div>
								<div class="col-md-2">
									<span class="label label-primary">M Silocon</span>
									<label class="form-control">{{test.struct.r_silicon}}</label>
								</div>
								<div class="panel-body col-md-3">
									<div class="row">
										<span class="label label-primary">Azimuth:</span></br>
										<div class="col-md-4">
											<span>From</span>
											<label class="form-control">{{test.struct.az_from}}</label>
										</div>
										<div class="col-md-4">
											<span>Step</span>
											<label class="form-control">{{test.struct.az_step}}</label>
										</div>
										<div class="col-md-4">
											<span>to</span>
											<label class="form-inline form-control">{{test.struct.az_to}}</label>
										</div>
									</div>
								</div>
								<div class="panel-body col-md-3" ng-if="test.struct.el_from && test.struct.el_step && test.struct.el_to">
									<div class="row">
										<span class="label label-primary">Elevation:</span></br>
										<div class="col-md-4">
											<span>From</span>
											<label class="form-control">{{test.struct.el_from}}</label>
										</div>
										<div class="col-md-4">
											<span>Step</span>
											<label class="form-control">{{test.struct.el_step}}</label>
										</div>
										<div class="col-md-4">
											<span>to</span>
											<label class="form-inline form-control">{{test.struct.el_to}}</label>
										</div>
									</div>
								</div>
								<div class="col-md-2" ng-if="test.struct.direction">
									<span class="label label-primary">Dircetion:</span>
									<label class="form-control">{{test.struct.direction}}</label>
								</div>
								<div class="col-md-5" ng-if="test.struct.brp_file">
									<span class="label label-primary">BRP File:</span>
									<label class="form-control">{{test.struct.brp_file}}</label>
								</div>
								<div class="col-md-5" ng-if="test.struct.meas_file">
									<span class="label label-primary">Measure File:</span>
									<label class="form-control">{{test.struct.meas_file}}</label>
								</div>
								<div class="col-md-2" ng-if="test.struct.sectors">
									<span class="label label-primary">Sectors:</span>
									<label class="form-control">{{test.struct.sectors}}</label>
								</div>
								<div class="col-md-2" ng-if="test.struct.channel">
									<span class="label label-primary">Channel:</span>
									<label class="form-control">{{test.struct.channel}}</label>
								</div>
								<div class="col-md-2" ng-if="test.struct.checked_ants">
									<span class="label label-primary">Checked Antennas:</span>
									<label class="form-control">{{test.struct.checked_ants}}</label>
								</div>
								<div class="col-md-5" ng-if="test.struct.dBoard_file">
									<span class="label label-primary">Desired Board File:</span>
									<label class="form-control">{{test.struct.dBoard_file}}</label>
								</div>
								<div class="col-md-2" ng-if="test.struct.default_ant">
									<span class="label label-primary">Default Antenna:</span>
									<label class="form-control">{{test.struct.default_ant}}</label>
								</div>
								<div class="col-md-2" ng-if="test.struct.gain_index">
									<span class="label label-primary">Gain Index:</span>
									<label class="form-control">{{test.struct.gain_index}}</label>
								</div>
								<div class="col-md-2" ng-if="test.struct.polarization">
									<span class="label label-primary">Polarization:</span>
									<label class="form-control">{{test.struct.polarization}}</label>
								</div>
								<div class="col-md-5" ng-if="test.struct.pol1_path">
									<span class="label label-primary">First Polarization Path:</span>
									<label class="form-control">{{test.struct.pol1_path}}</label>
								</div>
								<div class="col-md-2" ng-if="test.struct.antenna">
									<span class="label label-primary">Antenna:</span>
									<label class="form-control">{{test.struct.antenna}}</label>
								</div>
								<div class="col-md-2" ng-if="test.struct.ant_gain">
									<span class="label label-primary">Antenna Gain:</span>
									<label class="form-control">{{test.struct.ant_gain}}</label>
								</div>
								<div class="col-md-2" ng-if="test.struct.chain_gain">
									<span class="label label-primary">Chain Gain:</span>
									<label class="form-control">{{test.struct.chain_gain}}</label>
								</div>
								<div class="col-md-2" ng-if="test.struct.azimuth">
									<span class="label label-primary">Azimuth:</span>
									<label class="form-control">{{test.struct.azimuth}}</label>
								</div>
								<div class="col-md-2" ng-if="test.struct.elevation">
									<span class="label label-primary">Elevation:</span>
									<label class="form-control">{{test.struct.elevation}}</label>
								</div>
<!--
								<span style="display:inline-block; margin-right:1%;" ng-repeat="(key, value) in test.struct track by $index">
										<div ng-if="value" style="width:fit-content;">
											<span class="label label-primary">{{key}}</span>
								<label class="form-control">{{value}}</label>
							</div>
							</span>
-->
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6" ng-hide="test.notes == '' || test.notes == null">
						<div class="panel-body">
							<span class="label label-primary">Notes:</span>
							<div trumbowyg-ng ng-disabled="lock" ng-model="test.notes" editor-config="{hideButtonTexts: true}">
							</div>
						</div>
					</div>
				</div>
				<a class="btn btn-xs btn-success pull-right col-lg-5 addButton" href="#/plans/{{plan.id}}/test/{{test.id}}/comments/new">Add New Comment</a>
			</div>
			<div class="panel-footer" ng-if="test.comments[0]">
				<div ng-repeat="comment in test.comments track by $index">
					<div class="panel" ng-class="comment.severity == 'Minor' ? 'panel-warning' : 'panel-danger'">
						<div class="panel-heading" Data-toggle="collapse" data-target="#{{comment.id}}" aria-expanded="false" aria-controls="{{comment.id}}">
							<h3 class="panel-title">From: {{comment.author}}
								<div class="pull-right" ng-show="currentUser.username == comment.author  ||  currentUser.rank > '10'">
									<button class="btn btn-xs btn-warning" href="#/plans/{{comment.plan_id}}/test/{{comment.test_id}}/comment/{{comment.id}}/edit" ng-click="editComment()">Edit</button>
									<button class="btn btn-xs btn-danger" ng-click="removeComment()">
											Delete
										</button>
								</div>
							</h3>

						</div>
						<div class="panel-body collapse" id="{{comment.id}}">
							<div class="row">
								<div class="col-md-3 col-sm-3 col-xs-3">
									<span class="label label-primary">Severity</span>
									<label class="form-control">{{comment.severity}}</label>
								</div>
								<div class="col-md-3 col-sm-3 col-xs-3">
									<span class="label label-primary">Test Station</span>
									<label class="form-control">{{comment.station}}</label>
								</div>
								<div ng-if="comment.severity == 'Minor'">
									<div class="col-md-3 col-sm-3 col-xs-3">
										<span class="label label-primary">Test Name</span>
										<label class="form-control">{{comment.test_name}}</label>
									</div>
									<div class="col-md-3 col-sm-3 col-xs-3">
										<span class="label label-primary">Chip</span>
										<label class="form-control">{{comment.chip}}</label>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-8">
									<span class="label label-primary">Details:</span>
									<div class="col-md-2 col-sm-2" trumbowyg-ng ng-model="comment.details" ng-disabled="lock">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>