<div class="panel panel-success">
	<div class="panel-heading">Add New Chip</div>
	<div class="panel-body">
		<div class="row">
			<div class="form-group col-md-3"><label>Chip Type</label>
<!--				<div class="input-group">-->
					<ui-select style="min-width: 100%" multiple limit="1" close-on-select="false" ng-model="chip.chip_type" data-placeholder="Pick Test" ng-disabled="lock">
						<ui-select-match>{{$item}}</ui-select-match>
						<ui-select-choices repeat="chip_type in params.chip_types" sortable="true">{{chip_type}}</ui-select-choices>
					</ui-select>
<!--
					<span class="input-group-btn">
							<button class="btn btn-default btn-sm" ng-click="extras(chip, 'chip_type')" ng-disabled="lock">
								<span class="glyphicon glyphicon-plus"></span>
					</button>
					</span>
-->
<!--				</div>-->
				<span ng-if="chip.chip_type.ext">
						<input uib-popover="New chip_type" popover-trigger="'mouseenter'" type="text" class="form-control btn-crud" ng-model="chip.chip_type.ext" placeholder="New" style="width: 100%;" ng-disabled="lock" ng-disabled="lock">
					</span>
			</div>
			<div class="form-group col-md-3">
				<label>Board</label>
				<div class="input-group">
					<ui-select style="min-width: 100%" multiple limit="1" close-on-select="false" ng-model="chip.board" data-placeholder="Pick Test" ng-disabled="lock">
						<ui-select-match>{{$item}}</ui-select-match>
						<ui-select-choices repeat="board in params.boards" sortable="true">{{board}}</ui-select-choices>
					</ui-select>
					<span class="input-group-btn">
							<button class="btn btn-default btn-sm" ng-click="extras(chip, 'board')" ng-disabled="lock">
								<span class="glyphicon glyphicon-plus"></span>
					</button>
					</span>
				</div>
				<span ng-if="chip.board.ext">
						<input uib-popover="New Board" popover-trigger="'mouseenter'" type="text" class="form-control btn-crud" ng-model="chip.board.ext" placeholder="New" style="width: 100%;" ng-disabled="lock" ng-disabled="lock">
					</span>
			</div>
			<div class="form-group col-md-3">
				<label>package</label>
				<div class="input-group">
					<ui-select style="min-width: 100%" multiple limit="1" close-on-select="false" ng-model="chip.package" data-placeholder="Pick Test" ng-disabled="lock">
						<ui-select-match>{{$item}}</ui-select-match>
						<ui-select-choices repeat="package in params.packages" sortable="true">{{package}}</ui-select-choices>
					</ui-select>
					<span class="input-group-btn">
							<button class="btn btn-default btn-sm" ng-click="extras(chip, 'package')" ng-disabled="lock">
								<span class="glyphicon glyphicon-plus"></span>
					</button>
					</span>
				</div>
				<span ng-if="chip.package.ext">
						<input uib-popover="New package" popover-trigger="'mouseenter'" type="text" class="form-control btn-crud" ng-model="chip.package.ext" placeholder="New" style="width: 100%;" ng-disabled="lock" ng-disabled="lock">
					</span>
			</div>
			<div class="form-group col-md-3">
				<label>model</label>
				<div class="input-group">
					<ui-select style="min-width: 100%" multiple limit="1" close-on-select="false" ng-model="chip.model" data-placeholder="Pick Test" ng-disabled="lock">
						<ui-select-match>{{$item}}</ui-select-match>
						<ui-select-choices repeat="model in params.models" sortable="true">{{model}}</ui-select-choices>
					</ui-select>
					<span class="input-group-btn">
							<button class="btn btn-default btn-sm" ng-click="extras(chip, 'model')" ng-disabled="lock">
								<span class="glyphicon glyphicon-plus"></span>
					</button>
					</span>
				</div>
				<span ng-if="chip.model.ext">
						<input uib-popover="New model" popover-trigger="'mouseenter'" type="text" class="form-control btn-crud" ng-model="chip.model.ext" placeholder="New" style="width: 100%;" ng-disabled="lock" ng-disabled="lock">
					</span>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-3">
				<label>revision</label>
				<div class="input-group">
					<ui-select style="min-width: 100%" multiple limit="1" close-on-select="false" ng-model="chip.revision" data-placeholder="Pick Test" ng-disabled="lock">
						<ui-select-match>{{$item}}</ui-select-match>
						<ui-select-choices repeat="revision in params.revisions" sortable="true">{{revision}}</ui-select-choices>
					</ui-select>
					<span class="input-group-btn">
							<button class="btn btn-default btn-sm" ng-click="extras(chip, 'revision')" ng-disabled="lock">
								<span class="glyphicon glyphicon-plus"></span>
					</button>
					</span>
				</div>
				<span ng-if="chip.revision.ext">
						<input uib-popover="New model" popover-trigger="'mouseenter'" type="text" class="form-control btn-crud" ng-model="chip.revision.ext" placeholder="New" style="width: 100%;" ng-disabled="lock" ng-disabled="lock">
					</span>
			</div>
			<div class="form-group col-md-3">
				<label>Chip Serial Number</label>
				<input type="text" class="form-control" ng-model="chip.chip_sn" placeholder="YB378000019 / YA951020581">
			</div>
			<div class="form-group col-md-3">
				<label>chip_process_abb</label>
				<div class="input-group">
					<ui-select style="min-width: 100%" multiple limit="1" close-on-select="false" ng-model="chip.chip_process_abb" data-placeholder="Pick Test" ng-disabled="lock">
						<ui-select-match>{{$item}}</ui-select-match>
						<ui-select-choices repeat="chip_process_abb in params.chip_process_abbs" sortable="true">{{chip_process_abb}}</ui-select-choices>
					</ui-select>
					<span class="input-group-btn">
							<button class="btn btn-default btn-sm" ng-click="extras(chip, 'chip_process_abb')" ng-disabled="lock">
								<span class="glyphicon glyphicon-plus"></span>
					</button>
					</span>
				</div>
				<span ng-if="chip.chip_process_abb.ext">
						<input uib-popover="New model" popover-trigger="'mouseenter'" type="text" class="form-control btn-crud" ng-model="chip.chip_process_abb.ext" placeholder="New" style="width: 100%;" ng-disabled="lock" ng-disabled="lock">
					</span>
			</div>
			<div class="form-group col-md-3">
				<button class="btn btn-block btn-success" style="margin-top: 10%" ng-click="addChip()">Submit!</button>
			</div>
		</div>
	</div>
</div>
