<div class="alert alert-warning col-md-offset-1  col-md-10">Notice! Chip Serial Number has to contain it's corner!</br> Example: 'YA95100006_TT'</div>
<div class="alert alert-info col-md-offset-1  col-md-10">Download Current Chip List<a class="pull-right btn btn-sm btn-default" href="http://wigig-584/admin/updatechiplist" download="Web-ChipList.csv">
            	Download <span class="glyphicon glyphicon-save"></span>
        	</a></div>
<div class="container-fluid col-md-offset-3 col-md-5" ng-if="isAuthenticated == true">
	<form>
		<div class="panel panel-primary">
			<div class="panel-heading">Add New Chip</div>
			<div class="panel-body">
				<div class="form-group col-md-10">
					<label>Chip Type</label>
					<select class="form-control" ng-model="chip.chip">
						<option>TalynA 1</option>
						<option>TalynM 2</option>
						<option>TalynA 2</option>
						<option>TalynM 3</option>
					</select>
				</div>
				<div class="form-group col-md-10">
					 <label>Board</label>
					 <select class="form-control" ng-model="chip.board">
						<option>YA591-H511</option>
						<option>YA591-H502</option>
						<option>YA591-H1</option>
						<option>YA591-H2</option>
					 </select>
				</div>
				<div class="form-group col-md-10">
					<label>Chip Serial Number</label>
					<input type="text" class="form-control" ng-model="chip.sn" placeholder="YB378000019 / YA951020581">
				</div>
				<div class="form-group col-md-10">
					 <label>Corner</label>
					 <select class="form-control" ng-model="chip.corner">
						<option>TT</option>
						<option>FF</option>
						<option>SS</option>
						<option>FS</option>
						<option>SF</option>
					 </select>
				</div>
			</div>
		</div>
		<button class="btn btn-lg btn-success" ng-click="addChip()">Submit!</button>
	</form>
</div>