<div class="panel panel-primary">
	<!-- Default panel contents -->
	<div class="panel-heading">All Operations</div>
<!--
	<div class="panel-body">
		<div class="col-md-8">
			<div class="col-md-3">
				<span class="label label-warning">Date</span>
				<select class="form-control" ng-model="dateOptions">
					<option value="">All</option>
					<option value="1">Last Week</option>
					<option value="2">Last Month</option>
					<option value="3">Last 3 Months</option>
					<option value="4">Single Day</option>
					<option value="5">Custom</option>
				</select>
			</div>
			<div class="col-md-11" ng-show="dateOptions == 4 || dateOptions ==  5">
				<div class="input-group">
					<input type="text" class="col-md-6 form-control" uib-datepicker-popup="{{format}}" ng-change="filterDate(search)" ng-model="search.dateFrom" show-weeks="true" is-open="fromOpened" min-date="minDate" max-date="today" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
					<span class="input-group-btn"></span>
					<input ng-show="dateOptions == 5" type="text" class="col-md-6 form-control" uib-datepicker-popup="{{format}}" ng-change="filterDate(search)" ng-model="search.dateTo" show-weeks="true" is-open="toOpened" min-date="minDate" max-date="today" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="openDatePopup(dateOptions)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>
-->
	<div style="margin: auto; width: 0%">
		<div class="loader" ng-class="{'fadeOut': loaded}"></div>
	</div>
	<div class="fadeIn" ng-show="loaded">
		 Table 
		 <table ng-table-dynamic="tableParams with colsList" class="table table-condesed table-striped">
			<tr ng-repeat="row in $data">
				<td ng-if="cols.operation_id.show" class="col-md-1 text-center" title="cols.operation_id.title">{{row[cols.operation_id.field]}}</td>
				<td ng-if="cols.work_station.show" class="col-md-1 text-center" title="cols.work_station.title">{{row[cols.work_station.field]}}</td>
				<td ng-if="cols.date.show" class="col-md-1 text-center" title="cols.date.title">{{row[cols.date.field]}} - {{row.time}}</td>
				<td ng-if="cols.test_name.show" class="col-md-1 text-center" title="cols.test_name.title">{{row[cols.test_name.field]}}</td>
				<td ng-if="cols.plan_id.show" class="col-md-1 text-center" title="cols.plan_id.title">{{row[cols.plan_id.field]}}</td>
				<td ng-if="cols.test_id.show" class="col-md-1 text-center" title="cols.test_id.title">{{row[cols.test_id.field]}}</td>
				<td ng-if="cols.chipR.show" class="col-md-1 text-center" title="cols.chipR.title">{{row.chip_r_sn}}</td>
				<td ng-if="cols.chipM.show" class="col-md-1 text-center" title="cols.chipM.title">{{row.chip_m_sn}}</td>
				<td ng-if="cols.status.show" class="col-md-1 text-center" title="cols.status.title">
					{{row[cols.status.field]}}
					<span ng-click="updateStatus(row)" class="glyphicon chip-status" ng-class="{'glyphicon-hourglass': row.status_id == 2, 'glyphicon-ok':  row.status_id == 0, 'glyphicon-remove':  row.status_id == 1, 'glyphicon-warning-sign': row.status_id == 3, 'glyphicon-tent': row.status_id == 4}"></span>
				</td>
				<td ng-if="cols.user.show" class="col-md-1 text-center" title="cols.user.title">{{row[cols.user.field]}}</td>
				<td class="col-md-1 text-center" title="cols.user.title">
					<a class="btn btn-sm btn-info" ui-sref="viewTest({planId: row.plan_id, testId: row.test_id})" ui-sref-active="navActive">View</a>
				</td>
			</tr>
		</table>
	</div>
</div>