<div class="panel panel-primary">
	<!-- Default panel contents -->
	<div class="panel-heading">All Operations</div>
	<div class="panel-body">
		<div class="col-md-2">
			<span class="label label-warning">Station</span>
<!--
			<select class="form-control"  ng-model="search.work_station" ng-change="filterTable(search.work_station, 'work_station')">
				<option value="">All</option>
				<option ng-repeat="station in workStations">{{station.name}}</option>
			</select>
-->
			<select class="form-control"  ng-model="tableParams.filter()['work_station']">
				<option value="">All</option>
				<option ng-repeat="station in workStations">{{station.name}}</option>
			</select>
		</div>
		<div class="col-md-2">
			<span class="label label-warning">User</span>
			<select class="form-control" ng-model="tableParams.filter()['name']">
				<option value="">All</option>
				<option ng-repeat="user in operators">{{user.name}}</option>
			</select>
		</div>
		<div class="col-md-8">
			<div class="col-md-3">
				<span class="label label-warning">Date</span>
				<select class="form-control" ng-model="dateOptions">
					<option value="">All</option>
					<option value="1">Last Week</option>
					<option value="2">Last Month</option>
					<option value="3">Last 3 Months</option>
					<option value="4">Single Day</option>
					<option value="5">Custom</option>
				</select>
			</div>
			<div class="col-md-11" ng-show="dateOptions == 4 || dateOptions ==  5">
				<div class="input-group">
					<input type="text" class="col-md-6 form-control" uib-datepicker-popup="{{format}}" ng-change="filterDate(search)" ng-model="search.dateFrom" show-weeks="true" is-open="fromOpened" min-date="minDate" max-date="today" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
					<span class="input-group-btn"></span>
					<input ng-show="dateOptions == 5" type="text" class="col-md-6 form-control" uib-datepicker-popup="{{format}}" ng-change="filterDate(search)" ng-model="search.dateTo" show-weeks="true" is-open="toOpened" min-date="minDate" max-date="today" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close"/>
					<span class="input-group-btn">
						<button type="button" class="btn btn-default" ng-click="openDatePopup(dateOptions)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div style="margin: auto; width: 0%">
		<div class="loader" ng-class="{'fadeOut': loaded}"></div>
	</div>
	<div class="fadeIn" ng-show="loaded">
		<!-- Table -->
		<table ng-table="tableParams" class="table table-striped">
			<tr ng-repeat="data in $data track by data.operation_id">
				<td class="col-md-1 text-center" data-title="'Operation ID'" filter="idFilter">{{data.operation_id}}</td>
				<td class="col-md-1 text-center" data-title="'Station'" filter="{work_station: 'text'}">{{data.work_station}}</td>
				<td class="col-md-2 text-center" data-title="'Date'" sortable="'date'" filter="dateFilter">{{data.date}} {{data.time}}</td>
				<td class="col-md-1 text-center" data-title="'Test Name'">{{data.test_name}}</td>
				<td class="col-md-1 text-center" data-title="'Plan ID'" sortable="'data.plan_id'">{{data.plan_id}}</td>
				<td class="col-md-1 text-center" data-title="'Test ID'" sortable="'data.test_id'">{{data.test_id}}</td>
				<td class="col-md-1 text-center" data-title="'Chip S/N'"><span ng-if="data.chip_m_id == '-1' ? chip = data.chip_r_sn : data.chip_r_id == '-1' ? chip = data.chip_m_sn : chip = data.chip_r_sn+' + '+data.chip_m_sn">{{chip}}</span></td>
				<td class="col-md-1 text-center" data-title="'User'">{{data.user}}</td>
				<td class="col-md-1 text-center" data-title="'Status'">
					{{data.status}}
					<span ng-click="chipStatus(chip)" class="glyphicon chip-status" ng-class="{'glyphicon-hourglass': data.status_id == 2, 'glyphicon-ok':  data.status_id == 0, 'glyphicon-remove':  data.status_id == 1, 'glyphicon-warning-sign': data.status_id == 3}"></span>
				</td>
				<td class="col-md-1 text-center" data-title="'View'">
					<a class="btn btn-sm btn-info" ui-sref="viewTest({planId: data.plan_id, testId: data.test_id})" ui-sref-active="navActive">View</a>
				</td>
			</tr>
		</table>
<!--		<ul uib-pagination total-items="tableData.filtered.length" ng-model="currentPage" ng-change="setPage(currentPage, tableData.filtered)" max-size="7" class="pagination-sm" boundary-link-numbers="true"></ul>-->
	</div>
</div>