<div class="form-inline">
	<div class="form-group">
		<label>Date</label>
		<input type="text" ng-model="search.date" class="form-control" placeholder="Search By Date">
	</div>
	<div class="form-group">
		<label>Station</label>
		<input type="text" ng-model="search.tests.station" class="form-control" placeholder="Search Station">
	</div>
	<div class="form-group">
		<label>Test</label>
		<input type="text" ng-model="search.tests.name" class="form-control" placeholder="Search Test">
	</div>
	<div class="form-group">
		<label>Chip</label>
		<input type="text" ng-model="search.tests.chips.chip" class="form-control" placeholder="Search Chip">
	</div>
</div>

<div class="panel panel-primary">
	<!-- Default panel contents -->
	<div class="panel-heading">
		All Plans
<!--
		<span class="pull-right">
			<input type="text" id="searchBox" ng-model="searchText" class="form-control" placeholder="Search">
		</span>
-->
	</div>
	<div class="panel-body">
	</div>
	<!-- Table -->
	<table class="table">
		<thead>
			<tr>
				<th>Date</th>
				<th>Author</th>
				<th>View</th>
				<th>Stations</th>
				<th>Tests</th>
				<th>Chips</th>
				<th>Seen</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="plan in plans | filter:search | orderBy:'-date' track by $index">
				<th>{{ plan.date }}</th>
				<td>{{ plan.user_username }}</td>
<!--				<td></td>-->
				<td>
					<a ng-click="view(plan.id)" class="btn btn-info">View</a>
				</td>
				<td>
					<ul>
						<li ng-repeat="test in plan.tests">{{test.station}}</li>
						
					<ul>
				</td>
				<td>
					<ul>
						<li ng-repeat="test in plan.tests">{{test.name}}</li>
						
					<ul>
				</td>
				<td>
					<ul ng-repeat="test in plan.tests">
						<li ng-repeat="chip in test.chips ">{{chip.chip}}<span class="pull-right glyphicon glyphicon-minus" ng-class="{'glyphicon-hourglass': chip.running == true, 'glyphicon-ok': chip.completed == true, 'glyphicon-remove': chip.error == true}"></span></li>
					<ul>
				</td>
				<td>
					<button ng-click="seen(plan)" ng-show="currentUser.rank > '10'" class="btn btn-xs btn-default">update</button>
					<span ng-model="test.checked" class="btn-lg glyphicon" ng-class="{'glyphicon-ok check-seen': plan.checked == true, 'glyphicon-minus check-unseen': plan.checked == false}"></span>
					<span ng-if="plan.checked == true">  By {{plan.checked_by}} </span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
