

<div class="panel panel-primary">
	<!-- Default panel contents -->
	<div class="panel-heading">
		All Plans
		<span class="pull-right">
			<input type="file" file-model="myFile"/>
			<button class="btn btn-default btn-xs" type="button" ng-click="uploadFile()">Click</button>
		</span>
	</div>
		<span class="col-md-3">
			<input type="text" class="form-control" ng-model="myFile.name">
		</span>
	<table ng-table="TableParams" class="table table-striped">
		<tr ng-repeat="test in $data track by test.test_id+$index">
			<td class="col-md-1 text-center" data-title="'ID'"><strong>#{{test.test_id}}</strong></td>
			<td class="col-md-1 text-center" data-title="'Date'">{{test.date}}</td>
			<td class="col-md-1 text-center" data-title="'Author'">{{test.username}}<span ng-if="test.username == null">Debug</span></td>
			<td class="col-md-1 text-center" data-title="'View'">
				<div ng-click="view(test.plan_id)" class="btn btn-info">View</div>	
			</td>
			<td class="col-md-1 text-center" data-title="'Station'">{{test.name}}</td>
			<td class="col-md-1 text-center" data-title="'Test'">{{test.test_name}}</td>
			<td class="col-md-1 text-center" data-title="'Chips'" filter="{'chips.chip_sn': 'text'}">
				<div ng-repeat="chip in test.chips">
					{{chip.chip_sn}}  <span class="glyphicon glyphicon-minus" ng-class="{'glyphicon-hourglass': chip.chip_status == 2, 'glyphicon-ok':  chip.chip_status == 0, 'glyphicon-remove':  chip.chip_status == 3}"></span>
				</div>
			</td>
		</tr>
	</table>
</div>
