<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">New Comment</h3>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-3 col-sm-3 col-xs-3">
				<span class="label label-primary">Severity</span>
				<select ng-model="comment.severity" class="form-control">
				  <option>Major</option>
				  <option>Minor</option>
				</select>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3">
				<span class="label label-primary">Test Station</span>
				<label ng-model="comment.station" class="form-control">
					{{comment.station}}
				</label>
			</div>
			<div ng-if=" comment.severity == 'Minor'">
				<div class="col-md-3 col-sm-3 col-xs-3">
					<span class="label label-primary">Test Name</span>
					<label ng-model="comment.test_name" class="form-control">
					{{comment.test_name}}
				</label>
				</div>
				<div class="col-md-3 col-sm-3 col-xs-3">
					<span class="label label-primary">Chip</span>
					<select ng-model="comment.chip" class="form-control">
					 <option ng-repeat="chip in test.chips">{{chip.chip}}</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<span class="label label-primary">Details:</span>
				<div trumbowyg-ng placeholder="Comment Details"
					 ng-model="comment.details"
					 editor-config="{btns: ['viewHTML', ['undo', 'redo'],['strong', 'em', 'del'], ['link'], ['formatting'], ['foreColor', 'backColor'], ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'], ['unorderedList', 'orderedList'], ['removeformat'],]}">
				</div>
			</div>
		</div>
		<button class="btn btn-success" ng-click="newCmt()">Submit!</button>
	</div>
</div>
