<div class="row">
	<div class="col-md-3">
		<span class="label label-dangerC">Station:</span>
		<ui-select style="min-width: 100%" multiple limit="1" close-on-select="false" ng-model="lineup.station" data-placeholder="Pick Test">
			<ui-select-match>{{$item.name}}</ui-select-match>
			<ui-select-choices repeat="station in testParams.params.workStations | filter:{workstation_id: test.station[0].idx}" sortable="true">{{station.name}}</ui-select-choices>
		</ui-select>
	</div>
	<div class="col-md-9">
		<span class="label label-dangerC">Lineup Path:</span>
		<input type="text" class="form-control" ng-model="lineup.path" placeholder="Choose Fineup File">
	</div>
</div>
<div class="row">
	<div class="col-md-3">
		<button class="btn btn-success" type="submit" ng-click="checkLineup()">Send</button>
	</div>
	<div class="col-md-3">
		<button class="btn btn-default" type="submit" ng-click="clearMsgs()">Clear All</button>
	</div>
</div>

<!--
<h3>Drop Zone</h3>
<div nv-file-drop uploader="uploader" class="well my-drop-zone">Drop here</div>


<input type="file" nv-file-select uploader="uploader"/><br/>
<ul>
	<li ng-repeat="item in uploader.queue">
		Name: <span ng-bind="item.file.name"></span><br/>
		<button ng-click="item.upload()">upload</button>
	</li>
</ul>-->
