<div ng-if="isAuthenticated == true">
	<div class="row container-fluid">
		<div class="bs-callout bs-callout-info">
			<h4>Color Assitance:</h4>
			<div>
				<span class="label label-primary">Field Name</span> - Optional	
			</div>
			<div>
				<span class="label label-dangerC">Field Name</span> - Required
			</div>	
		</div>	
	</div>
	<form class="rowMarg">
		<div class="panel panel-primary">
			<div class="panel-heading">New Lineup File</div>
			<div id="plan">
				<div class="col-md-12 container">
					<span class="label label-dangerC">Title:</span>
					<input type="text" class="form-control" style="width: 100%" ng-model="lineup.title" ng-disabled="lock">
				</div>
				<div class="col-md-4">
					<span class="label label-dangerC">Work Station:</span>
					<ui-select multiple limit="1" close-on-select="true" ng-model="lineup.station" ng-disabled="lock">
						<ui-select-match>{{$item.work_station}}</ui-select-match>
						<ui-select-choices repeat="station in testParams.stations">{{station.work_station}}</option>
					</ui-select>
				</div>
				<div class="col-md-4">
					<span class="label label-dangerC">Chip Type:</span>
					<ui-select multiple limit="1" close-on-select="true" ng-model="lineup.chip_type" ng-disabled="lock">
						<ui-select-match>{{$item.chip_type}}</ui-select-match>
						<ui-select-choices repeat="chip in testParams.chipTypes">{{chip.chip_type}}</option>
					</ui-select>
				</div>
				<div class="col-md-4">
					<span class="label label-dangerC">Lineup Type:</span>
					<ui-select style="min-width: 100%" multiple limit="1" close-on-select="true" ng-model="lineup.type" data-placeholder="Lineup Type" ng-disabled="lock">
						<ui-select-match>{{$item.lineup_type}}</ui-select-match>
						<ui-select-choices repeat="type in testParams.types">{{type.lineup_type}}</option>
					</ui-select>
				</div>
				<lineup-form ng-repeat="batch in batches track by $index" ng-switch="lineup.station[0].id" array="lineups" sec="batches"></lineup-form>
			</div>
			<div class="panel-body">
				<div class="col-md-12">
				<button class="btn btn-xs btn-primary addButton" ng-click="addBatch()">
					Add Batch!
				</button>
					<button class="btn btn-xs btn-danger addButton" ng-click="removeBatch()">
					Remove Batch!
				</button>
				</div>
				<div class="col-md-12">
					<button class="btn btn-lg btn-success col-lg-3" ng-click="submit()">Submit! <span class="glyphicon glyphicon-send"></span></button>
				</div>
			</div>
		</div>
	</form>
</div>
