<div ng-if="isAuthenticated == true">
	<div class="row container-fluid">
		<div class="bs-callout bs-callout-info">
			<h4>Color Assitance:</h4>
			<div>
				<span class="label label-primary">Field Name</span> - Optional	
			</div>
			<div>
				<span class="label label-dangerC">Field Name</span> - Required
			</div>	
		</div>	
	</div>
	<form class="rowMarg">
		<div class="panel panel-primary">
			<div class="panel-heading">New Test Plan</div>
			<div id="plan">
				<test-form ng-repeat="test in testCount track by $index" plan-params="array" params="params"></test-form>
			</div>
			<div class="panel-body">
				<div class="col-md-12">
				<button class="btn btn-xs btn-primary addButton" ng-click="addTest()">
					Add Test!
				</button>
					<button class="btn btn-xs btn-danger addButton" ng-click="removeTest()">
					Remove Test!
				</button>
				</div>
				<div class="col-md-12">
					<button class="btn btn-lg btn-success col-lg-3" ng-click="addPlan()">Submit! <span class="glyphicon glyphicon-send"></span></button>
				</div>
			</div>
		</div>
	</form>
</div>
