<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">All Tasks <span class="pull-right"><a class="btn btn-success btn-xs" href="#/tasks/new">New Task</a></span></h3>
  </div>
	<div class="panel col-md-12">
    <h3 class="panel-title col-md-1"><span class="label label-primary">Filters:</span></h3>
		<span class="">Inactive Tasks: <input type="checkbox" ng-model="activeTasks"></span>
		<span class="">  Show Filters: <input type="checkbox" ng-model="isFilterDisabled"></span>
		<span class="">  Show Completed: <input type="checkbox" ng-model="completedTasks"></span>
<!--
		<span class="col-md-2">
			Priority:
			<select class="form-control">
				<option ng-model="filterPriority" ng-repeat="item in testParams.taskPriorityArr">{{item}}</option>
			</select>
		</span>
-->
  </div>
  <div class="panel-body">
		<table ng-table="tableParams" class="table table-hover table-responsive" show-filter="isFilterDisabled">
			<tr ng-repeat="task in $data track by task.id" 
					uib-tooltip-template="'pages/tasks/tooltipTemplate.html'" tooltip-popup-delay="100"
					ng-hide="(activeTasks == false ? task.active == 0: '')"
					ng-show="completedTasks == false? task.status == 'Pending' || task.status == 'In Progress' || task.status == 'Declinded' : 'Completed'"
					ng-class="[task.approved == false ? '' : {'info' : task.priority == 'Low','warning' : task.priority == 'Medium', 'danger' : task.priority == 'High'},
										{'bug-report': task.type_id == 1, 'feature': task.type_id == 2}]">
				<td class="col-md-1 text-center"  data-title="'Date'"sortable="'date'">{{task.date}}</td>
				<td class="col-md-1 text-center" data-title="'Status'" filter="{status: 'text'}" sortable="'task_status'">
<!--					<span ng-if="task.status != 'Completed'">{{task.status}}</span>-->
					<span class="label " ng-class="{'label-success': task.status == 'Completed', 'label-default': task.status == 'Pending', 'label-warning': task.status == 'In Progress', 'label-danger': task.status == 'Declined'">{{task.status}}</span>
<!--					<span ng-if="task.status == 'Completed'"></span>-->
				</td>
				<td class="col-md-1 text-center" data-title="'Priority'" filter="{priority: 'text'}" sortable="'priority'">{{task.priority}}</td>
				<td class="col-md-1 text-center" data-title="'Station'" filter="{station: 'text'}" sortable="'station'">{{task.station}}</td>
				<td class="col-md-2 text-center" data-title="'Title'" filter="{title: 'text'}">{{task.title}}</td>
<!--				<td class="col-md-1 text-center" data-title="'Type'" filter="{type: 'text'}" sortable="'task_type'">{{task.type}}</td>-->
				<td class="col-md-1 text-center" data-title="'Creator'" filter="{creator: 'text'}" sortable="'creator'">{{task.creator}}</td>
				<td class="col-md-2 text-center" data-title="'Assigned To'" filter="{assigned: 'text'}" sortable="'assigned'">{{task.assigned}}</td>
				<td class="col-md-1 text-center" data-title="'Approved'" filter="{approved: 'text'}" sortable="'approved'"><span ng-class="{'glyphicon glyphicon-thumbs-up' : task.approved == 1, 'glyphicon glyphicon-minus' : task.approved == 0}"></span></td>
				<td class="col-md-2 text-center" data-title="'Operation'">
						<a  href="#/tasks/{{task.id}}" class="btn btn-info btn-sm btn-witdhC">View</a>
						<a  ng-if="currentUser.rank > '60'" href="#/tasks/{{task.id}}/edit" class="btn btn-warning btn-sm btn-witdhC">Edit</a>
					<div ng-if="currentUser.rank > '60'" class="btn-crud">
						<button ng-click="activeTask(task.id, task.active)" class="btn btn-default btn-sm btn-witdhC">active</button>
						<button ng-click="deleteTask(task.id)" class="btn btn-danger btn-sm btn-witdhC">Delete</button>
					</div>
				</td>
			</tr>
		</table>
  </div>
</div>