<div>
	<div class="row">
		<div class="col-md-2">Field:
			<ul>
				<li><input type="checkbox"> R stations</li>
				<li><input type="checkbox"> M stations</li>
				<li><input type="checkbox"> FS stations</li>
				<li><input type="checkbox"> Website</li>
			</ul>
		</div>
		<div class="col-md-2">Bug/Feature:
			<ul>
				<li><input type="checkbox"> Features</li>
				<li><input type="checkbox"> Bugs</li>
			</ul>
		</div>
		<div class="col-md-2">Task Status:
			<ul>
				<li><input type="checkbox"> Pending Approval</li>
				<li><input type="checkbox"> In Queue</li>
				<li><input type="checkbox"> In Progress</li>
				<li><input type="checkbox"> Completed</li>
				<li><input type="checkbox"> Declined</li>
			</ul>
		</div>
		<div class="col-md-2">Submitted By:
			<input class="form-control" type="text" placeholder="Username">
		</div>
		<div class="col-md-offset-1 col-md-2">Assigned To:
			<input class="form-control" type="text" placeholder="Username">
		</div>
	</div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">All Tasks</h3>
  </div>
  <div class="panel-body">
		<table ng-table="tableParams" class="table table-striped">
			<tr ng-repeat="task in $data track by task.id">
				<td class="col-md-1 text-center" data-title="'Date'">{{task.date_time}}</td>
				<td class="col-md-1 text-center" data-title="'Station'" filter="{station: 'text'}" sortable="'station'">{{task.station}}</td>
				<td class="col-md-1 text-center" data-title="'Type'" filter="{task_type: 'text'}" sortable="'task_type'">{{task.task_type}}</td>
				<td class="col-md-1 text-center" data-title="'Status'" filter="{task_status: 'text'}" sortable="'task_status'">{{task.task_status}}</td>
				<td class="col-md-1 text-center" data-title="'Creator'" filter="{creator: 'text'}" sortable="'creator'">{{task.creator}}</td>
				<td class="col-md-1 text-center" data-title="'Approved'" filter="{approved: 'text'}" sortable="'approved'">{{task.approved}}</td>
				<td class="col-md-1 text-center" data-title="'View'">
					<div ng-click="view(task.id)" class="btn btn-info">View</div>	
				</td>
			</tr>
		</table>
  </div>
</div>