<div class="panel panel-default rowMarg">
	<div class="panel-heading" Data-toggle="collapse" data-target="#{{plan.id}}" aria-expanded="false" aria-controls="{{plan.id}}">Submitted by: {{plan.username}}
		<span class="pull-right"> {{ plan.date }} </span>
	</div>
<!--
	<div class="panel col-md-12">
		<span class="pull-right btn-crud">
			<a class="btn btn-xs btn-success" href="#/plans/{{plan.id}}/addtests">
					Add Tests
			</a>
			<button class="btn btn-danger btn-xs" type="button" data-toggle="modal" data-target="#planModal">Delete</button>
				Modal		
			<div class="modal fade" id="planModal" tabindex="-1" role="dialog" aria-labelledby="Confirmation">
				<div class="modal-dialog modal-sm" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="planModal">Confirm Delete?</h4>
						</div>
						<div class="modal-body">
							<button class="btn btn-danger" data-dismiss="modal" ng-click="removePlan()" type="button">Delete Plan</button>
							<button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
						</div>
					</div>
				</div>
			</div>
		</span>
	</div>
-->
	<div class="panel-body collapse fase" id="{{plan.id}}" ng-repeat="test in plan.tests | orderBy: 'priority' track by $index">
			<!--	Newest format!	-->
			<div id="desc" class="panel panel-default" ng-if="!test.station[0].station">
			<div class="panel-heading" Data-toggle="collapse" data-target="#{{test.test_id}}" aria-expanded="false" aria-controls="{{test.test_id}}" ng-click="onOff=!onOff" style="border-bottom-width: 4px; border-bottom-color: {{test.station[0].color}}">
				<strong >Priority: {{test.priority[0].value}}, Station: {{test.name}}, Test: {{test.test_name}} , ID: #{{test.test_id}}</strong>
				<span class="pull-right glyphicon" ng-class="onOff ? 'glyphicon-chevron-down' : 'glyphicon-chevron-left'"></span>
				<span class="pull-right">
					<span class="glyphicon glyphicon-envelope" ng-if="test.comments.length > 0" id="testStatus"></span>
					<span class="label" ng-class="{'label-default' : test.status_id == 1, 'label-warning' : test.status_id == 2, 'label-success' : test.status_id == 3, 'label-danger' : test.status_id == 4}" ng-model="test.status">{{test.status}}</span>
				</span>
			</div>
			<div class="collapse fade" id="{{test.test_id}}">
				<div class="panel-body">
					<div class="panel row">
						<div class="col-md-9" style="margin-bottom: 1%;">
							<div class="input-group input-group-sm">
								<span class="input-group-addon" id="from" style="font-weight:900">Test ID:</span>
								<label class="form-control" type="number">#{{test.test_id}}</label>
								<span class="input-group-addon" id="from" style="font-weight:900">Test Priority:</span>
								<label class="form-control" type="number">{{test.priority[0].value}}</label>
								<span class="input-group-addon" id="from" style="font-weight:900">Station:</span>
								<label class="form-control" type="number">{{test.name}}</label>
								<span class="input-group-addon" id="step" style="font-weight:900">PC: </span>
								<label class="form-control" type="number">{{test.hostname}}</label>
								<span class="input-group-addon" id="step" style="font-weight:900">Owner: </span>
								<label class="form-control" type="number">{{test.username}}</label>
							</div>
						</div>
						<div class="col-md-3" ng-if="currentUser.username == plan.user_username || currentUser.rank > '10'">
							<span class="pull-right">
								<a class="btn btn-xs btn-warning" href="#/plans/{{plan.id}}/test/{{test.test_id}}/edit">Edit</a>
<!--
								<a class="btn btn-xs btn-danger" ng-click="removeTest(test.test_id)">
									Delete
								</a>
-->
								<button class="btn btn-danger btn-xs" type="button" data-toggle="modal" data-target="#testModal">Delete</button>
								<!--	Modal		-->
								<div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="Confirmation">
									<div class="modal-dialog modal-sm" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
												<h4 class="modal-title" id="testModal">Confirm Delete?</h4>
											</div>
											<div class="modal-body">
												<button class="btn btn-danger" data-dismiss="modal" ng-click="removeTest(test.test_id)" type="button">Delete Test</button>
												<button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
											</div>
										</div>
									</div>
								</div>
							</span>
						</div>
					</div>
					<div class="row">
					<!----------------------------------------------------------------			Table			---------------------------------------------------------------->
						<div class="container-fluid">
							<table ng-table="TableParams" class="table table-hover table-condensed">
								<tr ng-repeat="(sweepName, sweepData) in test.sweeps">
									<td>
										<div class="col-md-2">
<!--											<span class="pull-left label label-primary">{{sweepName}}</span>-->
											<strong class="pull-left">{{sweepName}}</strong>
										</div>
										<div class="col-md-10">
											<!---------------------------------			Lineups			--------------------------------->
											<div ng-if="sweepData.data_type == 33" uib-popover="{{sweepData.tooltip}}" popover-trigger="'mouseenter'">
												{{sweepData.data.value}}
<!--												<a  target="_self" ng-href="{{sweepData.data.value}}" download="{{sweepData.data.value}}"></a>												-->
											</div>
											<!---------------------------------			Chips			--------------------------------->
											<div ng-if="sweepData.data_type > 100">
												<div ng-repeat="chip in sweepData.data track by $index">
													<div class="input-group input-group-sm sweeps" style="float: none; margin-bottom: 0.25%">
														<label class="form-control" type="number" popover-trigger="'mouseenter'">{{chip.chip_sn}}-{{chip.chip_process_abb}}</label>
														<span class="input-group-addon" id="from" style="font-weight:800">Status 
															<span ng-click="chipStatus(chip)" class="glyphicon glyphicon-minus chip-status" ng-class="{'glyphicon-hourglass': chip.chip_status == 2, 'glyphicon-ok':  chip.chip_status == 0, 'glyphicon-remove':  chip.chip_status == 3}"></span>
														</span>
														<span class="input-group-addon" id="from" style="font-weight:800;">Hot 
															<span class="glyphicon glyphicon-minus chip-status" style="color:red" ng-click="hotStatus(chip)" ng-class="{'glyphicon-hourglass': chip.hot_status == 2, 'glyphicon-ok':  chip.hot_status == 0, 'glyphicon-remove':  chip.hot_status == 3}"></span>
														</span>
														<span class="input-group-addon" id="from" style="font-weight:800;">Cold 
															<span class="glyphicon glyphicon-minus chip-status" style="color:dodgerblue" ng-click="coldStatus(chip)" ng-class="{'glyphicon-hourglass': chip.cold_status == 2, 'glyphicon-ok':  chip.cold_status == 0, 'glyphicon-remove':  chip.cold_status == 3}"></span>
														</span>
														<span class="input-group-addon" id="from" style="font-weight:800; width:130px"><span ng-if="chip.username">By: {{chip.username}}</span>
													</div>
												</div>
											</div>
											<!---------------------------------			Pins			--------------------------------->
											<div ng-if="sweepData.data_type == 60"  uib-popover="{{struct.tooltip}}" popover-trigger="'mouseenter'">
												<div class="input-group input-group-sm">
													<span class="input-group-addon" id="from" style="font-weight:900">From :</span>
													<label class="form-control" type="number" uib-popover="From" popover-trigger="'mouseenter'">{{sweepData.data.from}}</label>
	<!--												<span class="input-group-addon" id="from" style="font-weight:900">;</span>-->
													<span class="input-group-addon" id="from" style="font-weight:900">To :</span>
													<label class="form-control" type="number" uib-popover="Step" popover-trigger="'mouseenter'">{{sweepData.data.step}}</label>
	<!--												<span class="input-group-addon" id="step" style="font-weight:900">;</span>-->
													<span class="input-group-addon" id="from" style="font-weight:900">Step :</span>
													<label class="form-control" type="number" uib-popover="To" popover-trigger="'mouseenter'">{{sweepData.data.to}}</label>
													<span class="input-group-addon" id="to" style="font-weight:900">Extra :</span>
													<label ng-if="sweepData.data.ext" class="form-control" type="text" uib-popover="Extra" popover-trigger="'mouseenter'">
														<span ng-repeat="pin in sweepData.data.ext">{{pin}}, </span>
													</label>
												</div>
											</div>
											<!---------------------------------			Sweeps			--------------------------------->
											<div ng-if="sweepData.data_type != 60 && sweepData.data_type != 33 && sweepData.data_type < 100" uib-popover="{{struct.tooltip}}" popover-trigger="'mouseenter'" allow-clear>
												<div ng-repeat="data in sweepData.data track by $index" class="form-control sweeps">{{data.display_name}}</div>
											</div>
										</div>
									</td>
									<td data-title="'Count'" class="text-center"><strong>{{sweepData.data.length}}</strong></td>
								</tr>
							</table>
						</div>
						<div ng-if="false" ng-repeat="(sweepName, sweepData) in test.sweeps track by sweepName">
						<!----------------------------------------------------------------			Lineups			---------------------------------------------------------------->
						<div ng-if="sweepData.data_type == 33" class="col-md-12 rowMarg" uib-popover="{{struct.tooltip}}" popover-trigger="'mouseenter'">
							<span class="label label-primary">{{sweepName}}</span>
							<label class="form-control">{{sweepData.data.value}}</label>
						</div>
						<!----------------------------------------------------------------			Pins			---------------------------------------------------------------->
						<div ng-if="sweepData.data_type == 60" class="col-md-4 rowMarg"  uib-popover="{{struct.tooltip}}" popover-trigger="'mouseenter'">
							<span class="label label-primary">{{sweepName}}</span>
							<div class="input-group input-group-sm">
								<label class="form-control" type="number" uib-popover="From" popover-trigger="'mouseenter'">{{sweepData.data.from}}</label>
								<span class="input-group-addon" id="from" style="font-weight:900">;</span>
								<label class="form-control" type="number" uib-popover="Step" popover-trigger="'mouseenter'">{{sweepData.data.step}}</label>
								<span class="input-group-addon" id="step" style="font-weight:900">;</span>
								<label class="form-control" type="number" uib-popover="To" popover-trigger="'mouseenter'">{{sweepData.data.to}}</label>
								<span class="input-group-addon" id="to" style="font-weight:900">;</span>
								<label ng-if="sweepData.data.ext" class="form-control" type="text" uib-popover="Extra" popover-trigger="'mouseenter'">
									<span ng-repeat="pin in sweepData.data.ext">{{pin}}, </span>
								</label>
							</div>
						</div>
						<!----------------------------------------------------------------			Chips			---------------------------------------------------------------->
						<div ng-if="sweepData.data_type > 100" class="col-md-4 rowMarg" uib-popover="{{struct.tooltip}}" popover-trigger="'mouseenter'">
							<span class="label label-primary">{{sweepName}}</span>
							<table class="table table-condensed">
								<thead>
									<tr>
										<th>{{sweepName}}</th>
										<th>Status</th>
										<th ng-if="test.station_id == [4,5]">Hot</th>
										<th ng-if="test.station_id == [4,5]">Cold</th>
										<th class="text-center">By</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="chip in sweepData.data track by $index" ng-init="test.chips = []; test.chips.push(chip)">
										<td >{{chip.chip_sn}}-{{chip.chip_process_abb}}</td>
										<td class="text-center">
											<span ng-click="chipStatus(chip)" class="glyphicon glyphicon-minus chip-status" ng-class="{'glyphicon-hourglass': chip.chip_status == 2, 'glyphicon-ok':  chip.chip_status == 0, 'glyphicon-remove':  chip.chip_status == 3}"></span>
										</td>
										<td ng-if="test.station_id == [4,5]">
											<span class="glyphicon glyphicon-minus chip-status" ng-click="hotStatus(chip)" ng-class="{'glyphicon-hourglass': chip.hot_status == 2, 'glyphicon-ok':  chip.hot_status == 0, 'glyphicon-remove':  chip.hot_status == 3}"></span>
										</td>
										<td ng-if="test.station_id == [4,5]">
											<span class="glyphicon glyphicon-minus chip-status" ng-click="coldStatus(chip)" ng-class="{'glyphicon-hourglass': chip.cold_status == 2, 'glyphicon-ok':  chip.cold_status == 0, 'glyphicon-remove':  chip.cold_status == 3}"></span>
										</td>
										<td>{{chip.username}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!----------------------------------------------------------------			Sweeps			---------------------------------------------------------------->
						<div ng-if="sweepData.data_type != 60 && sweepData.data_type != 33 && sweepData.data_type < 100" class="col-md-2 rowMarg" uib-popover="{{struct.tooltip}}" popover-trigger="'mouseenter'" allow-clear>
							<span class="label label-primary">{{sweepName}}</span>
							<div ng-if="sweepData.data.length <= 5"  style="width:fit-content">
								<ul class="list-group" style="width:fit-content">
									<li ng-repeat="data in sweepData.data track by $index" class="list-group-item">{{data.display_name}}</li>
								</ul>
							</div>
							<div ng-if="sweepData.data.length > 5" style="width:fit-content">
								<ul class="list-group">
									<li ng-repeat="data in sweepData.data track by $index" class="list-group-item largeSweepsOdd">
										{{data.display_name}}
									</li>
<!--
									<li ng-if="sweepData.data.length %2 != 0" ng-repeat="data in sweepData.data track by $index" class="list-group-item largeSweepsOdd">
										{{data.display_name}}
									</li>
-->
								</ul>
							</div>
						</div>
						<!----------------------------------------------------------------			Sweeps END			---------------------------------------------------------------->
						</div>
					</div>
					<div class="row">
						<div class="col-md-10">
								<div class="row">
									<div class="col-md-8" ng-hide="test.notes == '' || test.notes == null">
										<div class="panel-body">
											<span class="label label-primary">Notes:</span>
											<div trumbowyg-ng ng-disabled="lock" ng-model="test.notes" editor-config="{hideButtonTexts: true}">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<button class="btn btn-xs btn-success pull-right col-lg-5 addButton" Data-toggle="collapse" data-target="#Comment{{test.test_id}}" aria-expanded="false" aria-controls="Comment{{test.test_id}}">Add New Comment</button>
					</div>
					<div class="panel-footer">
						<div class="collapse fade" id="Comment{{test.test_id}}">
							<comment-form></comment-form>
						</div>
						<div ng-repeat="comment in test.comments track by $index">
							<div class="panel" ng-class="comment.severity == 'Minor' ? 'panel-warning' : 'panel-danger'">
								<div class="panel-heading" Data-toggle="collapse" data-target="#{{comment.comment_id}}" aria-expanded="false" aria-controls="{{comment.comment_id}}">
									<h3 class="panel-title">From: {{comment.username}}
										<div class="pull-right" ng-show="currentUser.username == comment.username  ||  currentUser.rank > '10'">
											<button class="btn btn-xs btn-warning" href="#/plans/{{test.plan_id}}/test/{{comment.test_id}}/comment/{{comment.comment_id}}/edit" ng-click="editComment()">Edit</button>
											<button class="btn btn-xs btn-danger" ng-click="removeComment()">
												Delete
											</button>
										</div>
									</h3>
								</div>
								<div class="panel-body collapse" id="{{comment.comment_id}}">
									<div class="row">
										<div class="col-md-3 col-sm-3 col-xs-3">
											<span class="label label-primary">Severity</span>
											<label class="form-control">{{comment.severity}}</label>
										</div>
										<div class="col-md-3 col-sm-3 col-xs-3">
											<span class="label label-primary">Test Station</span>
											<label class="form-control">{{test.name}}</label>
										</div>
										<div ng-if="comment.severity == 'Minor'">
											<div class="col-md-3 col-sm-3 col-xs-3">
												<span class="label label-primary">Chip</span>
												<label class="form-control">
													<span >{{comment.chip_sn}}-{{comment.chip_process_abb}}</span>
												</label>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-8">
											<span class="label label-primary">Details:</span>
											<div class="col-md-2 col-sm-2" trumbowyg-ng ng-model="comment.comment" ng-disabled="lock">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>