<div ng-if="isAuthenticated == true">
	<form>
		<div class="panel panel-primary">
			<div class="panel-heading">Add test to {{plan.id}}</div>
			<div id="plan">
				<test-formedit ng-repeat="test in testCount track by $index" plan-params="array" params="params"></test-formedit>
			</div>
			<div class="panel-body">
				<div class="col-md-12">
				<button class="btn btn-xs btn-primary addButton" ng-click="addTest()">
					Add Test!
				</button>
					<button class="btn btn-xs btn-danger addButton" ng-click="removeTest()">
					Remove Test!
				</button>
				</div>
				<div class="col-md-12">
					<button class="btn btn-lg btn-success col-lg-3" ng-click="addPlan()">Submit! <span class="glyphicon glyphicon-send"></span></button>
				</div>
			</div>
		</div>
	</form>
</div>
