<!-------------------------------------------------------	v1 Format	------------------------------------------------------->
<div ng-init="test.flag = 2; test.user = currentUser" class="panel panel-primary" ng-if="test.test_id">
	<div class="panel-heading">Edit: Station: {{ test.name }}</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-3">
				<span class="label label-dangerC">Station:</span>
				<ui-select style="min-width: 100%" multiple limit="1" close-on-select="false" ng-model="test.station" data-placeholder="Pick Test" ng-disabled="lock" ng-change="test.testType = []">
					<ui-select-match>{{$item.name}}</ui-select-match>
					<ui-select-choices repeat="station in testParams.params.workStations|filter: $select.search" sortable="true">{{station.name}}</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-4">
				<span class="label label-dangerC">Test Name:</span>
				<div ng-if="test.station[0].idx">
					<ui-select style="min-width: 100%" multiple limit="1" close-on-select="false" ng-model="test.testType" data-placeholder="Pick Test" ng-disabled="lock" ng-change="test.sweeps = {}">
						<ui-select-match>{{$item.test_name}}</ui-select-match>
						<ui-select-choices repeat="test in testParams.params.testTypes | filter:{workstation_id: test.station[0].idx}|filter: $select.search" sortable="true">{{test.test_name}}</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<div class="col-md-2">
				<span class="label label-dangerC">Test Priority</span>
				<ui-select style="min-width: 100%" multiple limit="1" close-on-select="false" ng-model="test.priority" data-placeholder="Pick Test" ng-disabled="lock">
						<ui-select-match>{{$item.value}}</ui-select-match>
						<ui-select-choices repeat="priority in testParams.params.priorityList">{{priority.display_name}}</ui-select-choices>
					</ui-select>
			</div>
		</div>
		<test-struct></test-struct>
		<div class="row">
			<div class="col-md-8">
				<div class="panel-body" ng-disabled="lock">
					<span class="label label-primary">Notes:</span>
					<div trumbowyg-ng placeholder="Test Notes" ng-model="test.notes" editor-config="{btns: ['viewHTML', ['undo', 'redo'],['strong', 'em', 'del'], ['link'], ['formatting'], ['foreColor', 'backColor'], ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'], ['unorderedList', 'orderedList'], ['removeformat'],]}">
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<button class="btn btn-lg btn-warning col-lg-3 " ng-click="editPlan()">Edit!</button>
		</div>
	</div>
</div>