<!-------------------------------------------------------	Old Format	------------------------------------------------------->
<div class="panel panel-primary" ng-if="testOld.id">
	<div class="panel-heading">Edit: {{ plan.title }} Station: {{ testOld.station[0].station }}</div>
	<div class="panel-body" id="planBody">
		<div id="author" class="pull-left col-md-10"></div>
		<div id="desc">
			<div>
				<div class="row">
					<div class="panel-body">
						<div class="col-md-1">
							<span class="label label-primary">Test Priority</span>
							<div>
								<multiselect ng-model="testOld.priority" options="testParams.params.priorityList" ng-disabled="lock">
								</multiselect>
							</div>
						</div>
						<div class="col-md-11" ng-if="testOld.station != 'PTAT/ABS/Vgb+TEMP' && testOld.station != 'TalynM+A'">
							<span class="label label-primary">Test Lineup</span>
							<input class="form-control" type="text" placeholder="Test Lineup" name="lineup" ng-model="testOld.lineup" ng-disabled="lock">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<div class="panel-body">
							<span class="label label-primary">Station:</span>
							<ui-select style="min-width: 100%" multiple limit="1" close-on-select="true" ng-model="testOld.station" data-placeholder="Pick Station">
								<ui-select-match>{{$item.station}}</ui-select-match>
								<ui-select-choices repeat="station in testParams.params.stationList">{{station.station}}</option>
							</ui-select>
						</div>
					</div>
					<div class="col-md-3">
						<div class="panel-body">
							<span class="label label-primary">Test Name:</span>
							<div ng-if="testOld.station[0].station == 'M-CB2' || testOld.station[0].station == 'M-CB1'">
								<ui-select style="min-width: 100%" multiple limit="1" close-on-select="false" ng-model="testOld.name" data-placeholder="Pick Test">
									<ui-select-match>{{$item.test_name}}</ui-select-match>
									<ui-select-choices repeat="name in testParams.params.nameListM | filter:$select.search" group-by="'corner'" sortable="true">{{name.test_name}}</ui-select-choices>
								</ui-select>
							</div>
							<div ng-if="testOld.station[0].id == 2 || testOld.station[0].id == 1">
								<ui-select style="min-width: 100%" multiple limit="1" close-on-select="false" ng-model="testOld.name" data-placeholder="Pick Test">
									<ui-select-match>{{$item.test_name}}</ui-select-match>
									<ui-select-choices repeat="name in testParams.params.nameListR | filter:$select.search" group-by="'corner'" sortable="true">{{name.test_name}}</ui-select-choices>
								</ui-select>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="panel-body">
							<span class="label label-primary">Chip S/N:</span>
							<div ng-if="testOld.station[0].id == 2 || testOld.station[0].id == 1">
								<ui-select style="min-width: 100%" multiple close-on-select="false" ng-model="testOld.chips" data-placeholder="Pick Chips">
									<ui-select-match>{{$item.serial_number}}-{{$item.corner}}</ui-select-match>
									<ui-select-choices repeat="chip in testParams.params.chipListR | filter:$select.search" group-by="'corner'" sortable="true">{{chip.serial_number}}-{{chip.corner}}</ui-select-choices>
								</ui-select>
							</div>
							<div ng-if="testOld.station[0].station == 'M-CB2' || testOld.station[0].station == 'M-CB1'">
								<div ng-if="testOld.name[0].test_name == 'Temp-Calibration' || testOld.name[0].test_name == 'PTAT Calibration'">
									<ui-select style="min-width: 100%" multiple close-on-select="false" ng-model="testOld.chips" data-placeholder="Pick Chips">
										<ui-select-match>{{$item.serial_number}}-{{$item.corner}}</ui-select-match>
										<ui-select-choices repeat="chip in testParams.params.chipListMR | filter:$select.search" group-by="'corner'" sortable="true">{{chip.serial_number}}-{{chip.corner}}</ui-select-choices>
									</ui-select>
								</div>
								<div ng-if="testOld.name[0].test_name != 'Temp-Calibration' && testOld.name[0].test_name != 'PTAT Calibration'">
									<ui-select style="min-width: 100%" multiple close-on-select="false" ng-model="testOld.chips" data-placeholder="Pick Chips">
										<ui-select-match>{{$item.serial_number}}-{{$item.corner}}</ui-select-match>
										<ui-select-choices repeat="chip in testParams.params.chipListM | filter:$select.search" group-by="'corner'" sortable="true">{{chip.serial_number}}-{{chip.corner}}</ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div ng-if="testOld.station[0].station == 'PTAT/ABS/Vgb+TEMP' || testOld.station[0].station == 'TalynM+A' || testOld.station[0].station == 'Calibration'">
								<ui-select style="min-width: 100%" multiple close-on-select="false" ng-model="testOld.chips" data-placeholder="Pick Chips">
									<ui-select-match>{{$item.serial_number}}-{{$item.corner}}</ui-select-match>
									<ui-select-choices repeat="chip in testParams.params.chipListMR | filter:$select.search" group-by="'corner'" sortable="true">{{chip.serial_number}}-{{chip.corner}}</ui-select-choices>
								</ui-select>
							</div>
						</div>
					</div>
					<div class="col-md-2" ng-if="testOld.station[0].station != 'PTAT/ABS/Vgb+TEMP' && testOld.station[0].station != 'TalynM+A'" ng-hide="testOld.name[0].test_name == 'Temp-Calibration' || testOld.name[0].test_name == 'PTAT Calibration'">
						<div class="panel-body">
							<span class="label label-primary">Temperature:</span>
							<ui-select style="min-width: 100%" multiple close-on-select="false" ng-model="testOld.temps" data-placeholder="Pick Temperatures">
								<ui-select-match>{{$item}}</ui-select-match>
								<ui-select-choices repeat="temp in testParams.params.tempList">{{temp}}</option>
							</ui-select>
						</div>
					</div>
					<div class="col-md-2" ng-if="testOld.station[0].station != 'PTAT/ABS/Vgb+TEMP' && testOld.station[0].station != 'TalynM+A'" ng-hide="testOld.name[0].test_name == 'Temp-Calibration' || testOld.name[0].test_name == 'PTAT Calibration'">
						<div class="panel-body">
							<span class="label label-primary">Channel:</span>
							<multiselect ng-model="testOld.channels" options="testParams.params.chList1" show-select-all="true" show-unselect-all="true" ng-disabled="lock"></multiselect>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4" ng-if="testOld.station[0].station == 'R-CB1' || testOld.station[0].station == 'R-CB2'" ng-hide="testOld.name[0].test_name == 'TX-Phase shifters accuracy' || testOld.name[0].test_name == 'RX-Phase shifters accuracy'">
						<div class="panel-body">
							<span class="label label-primary">Pin:</span></br>
							<span>From</span>
							<input ng-model="testOld.pin_from" type="text" class="Pin" ng-disabled="lock">
							<span>To</span>
							<input ng-model="testOld.pin_to" type="text" class="Pin" ng-disabled="lock">
							<span>Step</span>
							<input ng-model="testOld.pin_step" type="text" class="Pin" ng-disabled="lock"></br>
							</br>
							<span>Additional</span>
							<input ng-model="testOld.pin_additional" name="pinAdd" type="text" class="Pin" ng-disabled="lock">
						</div>
					</div>
					<div class="col-md-4" ng-if="testOld.name[0].test_name == 'Rx EVM vs. LO power' || testOld.name[0].test_name == 'Tx EVM vs. LO Power'">
						<div class="panel-body">
							<span class="label label-primary">LO Pin:</span></br>
							<span>From</span>
							<input ng-model="testOld.lo_pin_from" type="text" class="Pin" ng-disabled="lock">
							<span>To</span>
							<input ng-model="testOld.lo_pin_to" type="text" class="Pin" ng-disabled="lock">
							<span>Step</span>
							<input ng-model="testOld.lo_pin_step" type="text" class="Pin" ng-disabled="lock"></br>
							</br>
							<span>Additional</span>
							<input ng-model="testOld.lo_pin_additional" name="pinAdd" type="text" class="Pin" ng-disabled="lock">
						</div>
					</div>
					<div class="col-md-2" ng-if="testOld.station[0].station == 'R-CB1' || testOld.station[0].station == 'R-CB2' || testOld.station[0].station == 'Calibration'">
						<div class="panel-body">
							<span class="label label-primary">Antenna:</span>
							<multiselect ng-model="testOld.antennas" options="testParams.params.antList" show-select-all="true" show-unselect-all="true" ng-disabled="lock">
							</multiselect>
						</div>
					</div>
					<div ng-hide="true" class="col-md-2" ng-if="testOld.station[0].station != 'R-CB1' && testOld.station[0].station != 'R-CB2' && testOld.station[0].station != 'PTAT/ABS/Vgb+TEMP' && testOld.station[0].station != 'TalynM+A'" ng-hide="testOld.name[0].test_name == 'Temp-Calibration' || testOld.name[0].test_name == 'PTAT Calibration'">
						<div class="panel-body">
							<span class="label label-primary">XIF:</span>
							<multiselect ng-model="testOld.xifs" id-prop="xif" display-prop="xif" options="testParams.params.xifList" show-select-all="true" show-unselect-all="true" ng-disabled="lock">
							</multiselect>
						</div>
					</div>
					<div class="col-md-2" ng-if="testOld.station[0].id == 2 || testOld.station[0].id == 1">
						<div class="panel-body">
							<span class="label label-primary">MCS:</span></br>
							<input ng-model="testOld.mcs" type="number" class="Pin" ng-disabled="lock">
						</div>
					</div>
					<div class="col-md-2" ng-if="testOld.station[0].station == 'Calibration'">
						<div class="panel-body input-group">
							<span class="label label-primary">Mini-Circuits: </span></br>
							<input class="checkbox" ng-model="testOld.miniC" type="checkbox" class="Pin" ng-disabled="lock" style="display: inline;"> On/Off

						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2" ng-if="testOld.station[0].station != 'PTAT/ABS/Vgb+TEMP' && testOld.station[0].station != 'TalynM+A'">
						<div class="panel-body">
							<span class="label label-primary">Voltage:</span>
							<input ng-model="testOld.voltage" type="number" class="Pin" ng-disabled="lock">
						</div>
					</div>
					<div class="col-md-8">
						<div class="panel-body">
							<span class="label label-primary">Notes:</span>
							<div trumbowyg-ng placeholder="Test Notes" ng-model="testOld.notes" editor-config="{btns: ['viewHTML', ['undo', 'redo'],['strong', 'em', 'del'], ['link'], ['formatting'], ['foreColor', 'backColor'], ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'], ['unorderedList', 'orderedList'], ['removeformat'],]}">
							</div>
						</div>
					</div>
				</div>
				<div>
					<div ng-show="calc == true" class="col-md-12">
						<div class="panel-body row">
							<div class="col-md-9">
								<span class="label label-primary">Time Calculator:</span>
								<span>lineups</span>
								<input ng-model="testOld.calc.lineups" type="number" class="Pin" ng-disabled="lock">
								<span>Iteration time (sec)</span>
								<input ng-model="testOld.calc.seconds" type="number" class="Pin" ng-disabled="lock">
								<span>Number of Pins</span>
								<input ng-model="testOld.calc.pins" type="number" class="Pin" ng-disabled="lock">
								<span>Number of antennas</span>
								<input ng-model="testOld.calc.ants" type="number" class="Pin" ng-disabled="lock">
							</div>
							<div class="col-md-3">
								<span class="label label-primary">Total:</span>
								<label class="form-control">{{(testOld.calc.lineups * testOld.calc.seconds * testOld.calc.pins * testOld.calc.ants)/3600}} Hours Per Chip</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<button class="btn btn-lg btn-warning col-lg-3" ng-click="editPlan()">Edit!</button>
		</div>
	</div>
</div>
<!-------------------------------------------------------	New Format	------------------------------------------------------->
<div class="panel panel-primary" ng-if="test.id">
	<div class="panel-heading">Edit: {{ plan.title }} Station: {{ test.station[0].station }}</div>
	<div class="panel-body" id="planBody">
		<div id="author" class="pull-left col-md-10"></div>
		<div id="desc">
			<div>
				<div class="row">
					<div class="panel-body">
						<div class="col-md-1">
							<span class="label label-primary">Test Priority</span>
							<div>
								<multiselect ng-model="test.priority" options="testParams.params.priorityList" ng-disabled="lock">
								</multiselect>
							</div>
						</div>
						<div class="col-md-11" ng-if="test.a_lineup">
							<span class="label label-primary">Test Lineup</span>
							<input class="form-control" type="text" placeholder="Test Lineup" name="lineup" ng-model="test.a_lineup" ng-disabled="lock">
						</div>
						<div class="col-md-11" ng-if="test.m_lineup || test.station_id == 4 || test.station_id == 3">
							<span class="label label-primary">Test Lineup</span>
							<input class="form-control" type="text" placeholder="Test Lineup" name="lineup" ng-model="test.m_lineup" ng-disabled="lock">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<div class="panel-body">
							<span class="label label-primary">Station:</span>
							<multiselect ng-model="test.station" options="testParams.params.stationList" selection-limit="1" id-prop="id" display-prop="station" ng-disabled="lock">
							</multiselect>
						</div>
					</div>
					<div class="col-md-3">
						<div class="panel-body">
							<span class="label label-primary">Test Name:</span>
							<div ng-if="test.station_id == 4 || test.station_id == 3">
								<multiselect ng-model="test.name" options="testParams.params.nameListM" selection-limit="1" id-prop="id" display-prop="test_name" ng-disabled="lock">
								</multiselect>
							</div>
							<div ng-if="test.station_id == 2 || test.station_id == 1">
								<multiselect ng-model="test.name" options="testParams.params.nameListR" selection-limit="1" id-prop="id" display-prop="test_name" ng-disabled="lock">
								</multiselect>
							</div>
							<div ng-if="test.station_id == 5">
								<multiselect ng-model="test.name" options="testParams.params.nameListFS" selection-limit="1" id-prop="id" display-prop="test_name" ng-disabled="lock">
								</multiselect>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="panel-body">
							<div ng-if="test.station[0].id == 2 || test.station[0].id == 1">
								<span class="label label-primary">Talyn A:</span>
								<ui-select style="min-width: 100%" multiple close-on-select="false" ng-model="test.chips" data-placeholder="Pick Chips">
									<ui-select-match>{{$item.chip_sn}}-{{$item.chip_process_abb}}</ui-select-match>
									<ui-select-choices repeat="chip in testParams.params.chipListR | filter:$select.search" group-by="'chip_process_abb'" sortable="true">{{chip.chip_sn}}-{{chip.chip_process_abb}}</ui-select-choices>
								</ui-select>
							</div>
							<div ng-if="test.station[0].id == 4 || test.station[0].id == 3">
								<span class="label label-primary">Talyn M:</span>
								<div ng-if="test.name[0].test_name == 'Temp-Calibration' || test.name[0].test_name == 'PTAT Calibration'">
									<ui-select style="min-width: 100%" multiple close-on-select="false" ng-model="test.chips" data-placeholder="Pick Chips">
										<ui-select-match>{{$item.chip_sn}}-{{$item.chip_process_abb}}}</ui-select-match>
										<ui-select-choices repeat="chip in testParams.params.chipListM | filter:$select.search" group-by="'chip_process_abb'" sortable="true">{{chip.chip_sn}}-{{chip.chip_process_abb}}</ui-select-choices>
									</ui-select>
								</div>
								<div ng-if="test.name[0].test_name != 'Temp-Calibration' && test.name[0].test_name != 'PTAT Calibration'">
									<ui-select style="min-width: 100%" multiple close-on-select="false" ng-model="test.chips" data-placeholder="Pick Chips">
										<ui-select-match>{{$item.chip_sn}}-{{$item.chip_process_abb}}</ui-select-match>
										<ui-select-choices repeat="chip in testParams.params.chipListM | filter:$select.search" group-by="'chip_process_abb'" sortable="true">{{chip.chip_sn}}-{{chip.chip_process_abb}}</ui-select-choices>
									</ui-select>
								</div>
							</div>
							<div ng-if="test.station_id == 5">
								<div ng-repeat="pair in test.chips track by $index">
									<span class="label label-primary">Talyn A:</span>
									<ui-select style="min-width: 100%" multiple limit="1" close-on-select="false" ng-model="test.chips[$index].chip_r" data-placeholder="Pick Chips">
										<ui-select-match>{{$item.chip_sn}}-{{$item.chip_process_abb}}</ui-select-match>
										<ui-select-choices repeat="chip in testParams.params.chipListR | filter:$select.search" group-by="'chip_process_abb'" sortable="true">{{chip.chip_sn}}-{{chip.chip_process_abb}}</ui-select-choices>
									</ui-select>
									<span class="label label-primary">Talyn M:</span>
									<ui-select style="min-width: 100%" multiple limit="1" close-on-select="false" ng-model="test.chips[$index].chip_m" data-placeholder="Pick Chips">
										<ui-select-match>{{$item.chip_sn}}-{{$item.chip_process_abb}}</ui-select-match>
										<ui-select-choices repeat="chip in testParams.params.chipListM | filter:$select.search" group-by="'chip_process_abb'" sortable="true">{{chip.chip_sn}}-{{chip.chip_process_abb}}</ui-select-choices>
									</ui-select>
								</div>
								<button class="btn btn-danger btn-xs pull-right btn-crud" ng-click="removePair()"><span class="glyphicon glyphicon-minus"></span></button>
								<button class="btn btn-success btn-xs pull-right btn-crud" ng-click="addPair()"><span class="glyphicon glyphicon-plus"></span></button>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="panel-body" ng-if="test.station[0].id == 2 || test.station[0].id == 1">
							<span class="label label-primary">Temperature:</span>
							<ui-select style="min-width: 100%" multiple close-on-select="false" ng-model="test.temp_r" data-placeholder="Pick Temperatures">
								<ui-select-match>{{$item}}</ui-select-match>
								<ui-select-choices repeat="temp in testParams.params.tempList">{{temp}}</option>
							</ui-select>
						</div>
						<div class="panel-body" ng-if="test.station[0].id == 4 || test.station[0].id == 3">
							<span class="label label-primary">Temperature:</span>
							<ui-select style="min-width: 100%" multiple close-on-select="false" ng-model="test.temp_m" data-placeholder="Pick Temperatures">
								<ui-select-match>{{$item}}</ui-select-match>
								<ui-select-choices repeat="temp in testParams.params.tempList">{{temp}}</option>
							</ui-select>
						</div>
						<div class="panel-body" ng-if="test.station[0].id == 5">
							<div ng-if="test.test_name != 'RX-EVM PVT'">
								<span class="label label-primary">Temperature:</span>
								<ui-select style="min-width: 100%" multiple close-on-select="false" ng-model="test.temp_r" data-placeholder="Pick Temperatures">
									<ui-select-match>{{$item}}</ui-select-match>
									<ui-select-choices repeat="temp in testParams.params.tempList">{{temp}}</option>
								</ui-select>
							</div>
							<div ng-if="test.test_name == 'RX-EVM PVT'">
								<div class="row">
									<span class="label label-primary">TalynA Temperature:</span>
									<ui-select style="min-width: 100%" multiple close-on-select="false" ng-model="test.temp_r" data-placeholder="Pick Temperatures">
										<ui-select-match>{{$item}}</ui-select-match>
										<ui-select-choices repeat="temp in testParams.params.tempList">{{temp}}</option>
									</ui-select>
								</div>
								<div class="row">
									<span class="label label-primary">TalynM Temperature:</span>
									<ui-select style="min-width: 100%" multiple close-on-select="false" ng-model="test.temp_m" data-placeholder="Pick Temperatures">
										<ui-select-match>{{$item}}</ui-select-match>
										<ui-select-choices repeat="temp in testParams.params.tempList">{{temp}}</option>
									</ui-select>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2" ng-if="test.station[0].station != 'PTAT/ABS/Vgb+TEMP'" ng-hide="test.name[0].test_name == 'Temp-Calibration' || test.name[0].test_name == 'PTAT Calibration'">
						<div class="panel-body">
							<span class="label label-primary">Channel:</span>
							<multiselect ng-model="test.channel" options="testParams.params.chList1" show-select-all="true" show-unselect-all="true" ng-disabled="lock"></multiselect>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4" ng-if="test.station_id == 2 || test.station_id == 1" ng-hide="test.name[0].test_name == 'TX-Phase shifters accuracy' || test.name[0].test_name == 'RX-Phase shifters accuracy'">
						<div class="panel-body">
							<span class="label label-primary">Pin:</span></br>
							<span>From</span>
							<input ng-model="test.pin_from" type="text" class="Pin" ng-disabled="lock">
							<span>To</span>
							<input ng-model="test.pin_to" type="text" class="Pin" ng-disabled="lock">
							<span>Step</span>
							<input ng-model="test.pin_step" type="text" class="Pin" ng-disabled="lock"></br>
							</br>
							<span>Additional</span>
							<input ng-model="test.pin_additional" name="pinAdd" type="text" class="Pin" ng-disabled="lock">
						</div>
					</div>
					<div class="col-md-4" ng-if="test.name[0].test_name == 'Rx EVM vs. LO power' || test.name[0].test_name == 'Tx EVM vs. LO Power'">
						<div class="panel-body">
							<span class="label label-primary">LO Pin:</span></br>
							<span>From</span>
							<input ng-model="test.lo_pin_from" type="text" class="Pin" ng-disabled="lock">
							<span>To</span>
							<input ng-model="test.lo_pin_to" type="text" class="Pin" ng-disabled="lock">
							<span>Step</span>
							<input ng-model="test.lo_pin_step" type="text" class="Pin" ng-disabled="lock"></br>
							</br>
							<span>Additional</span>
							<input ng-model="test.lo_pin_additional" name="pinAdd" type="text" class="Pin" ng-disabled="lock">
						</div>
					</div>
					<div class="col-md-2" ng-if="test.station_id == 2 || test.station_id == 1 || test.station_id == 5">
						<div class="panel-body" ng-if="test.antenna">
							<span class="label label-primary">Antennas:</span>
							<multiselect ng-model="test.antenna" options="testParams.params.antList" show-select-all="true" show-unselect-all="true" ng-disabled="lock">
							</multiselect>
						</div>
						<div class="panel-body" ng-if="test.num_ant">
							<span class="label label-primary"># Of Antennas:</span>
							<multiselect ng-model="test.num_ant" options="testParams.params.antList" show-select-all="true" show-unselect-all="true" ng-disabled="lock">
							</multiselect>
						</div>
						<div class="panel-body" ng-if="test.sector">
							<span class="label label-primary">Sectors:</span>
							<multiselect ng-model="test.sector" options="testParams.params.antList" show-select-all="true" show-unselect-all="true" ng-disabled="lock">
							</multiselect>
						</div>
					</div>
					<div ng-hide="true" class="col-md-2" ng-if="test.station[0].station != 'R-CB1' && test.station[0].station != 'R-CB2' && test.station[0].station != 'PTAT/ABS/Vgb+TEMP' && test.station[0].station != 'TalynM+A'" ng-hide="test.name[0].test_name == 'Temp-Calibration' || test.name[0].test_name == 'PTAT Calibration'">
						<div class="panel-body">
							<span class="label label-primary">XIF:</span>
							<multiselect ng-model="test.xifs" id-prop="xif" display-prop="xif" options="testParams.params.xifList" show-select-all="true" show-unselect-all="true" ng-disabled="lock">
							</multiselect>
						</div>
					</div>
					<div class="col-md-2" ng-if="test.station[0].id == 2 || test.station[0].id == 1 || test.station_id == 5">
						<div ng-if="test.station[0].id == 2 || test.station[0].id == 1" class="panel-body">
							<span class="label label-primary">MCS:</span></br>
							<input ng-model="test.mcs" type="number" class="Pin" ng-disabled="lock">
						</div>
						<div ng-if="test.station[0].id == 5" class="panel-body">
							<span class="label label-primary">MCS:</span></br>
							<multiselect ng-model="test.mcs" id-prop="id" options="testParams.params.mcsList" show-select-all="true" show-unselect-all="true" ng-disabled="lock">
							</multiselect>
						</div>
					</div>
					<div class="col-md-2" ng-if="test.station[0].station == 'Calibration'">
						<div class="panel-body input-group">
							<span class="label label-primary">Mini-Circuits: </span></br>
							<input class="checkbox" ng-model="test.miniC" type="checkbox" class="Pin" ng-disabled="lock" style="display: inline;"> On/Off

						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2" ng-if="test.station[0].station != 'PTAT/ABS/Vgb+TEMP' && test.station[0].station != 'TalynM+A'">
						<div class="panel-body">
							<span class="label label-primary">Voltage:</span>
							<input ng-model="test.voltage" type="text" class="Pin" ng-disabled="lock">
						</div>
					</div>
					<div class="col-md-8">
						<div class="panel-body">
							<span class="label label-primary">Notes:</span>
							<div trumbowyg-ng placeholder="Test Notes" ng-model="test.notes" editor-config="{btns: ['viewHTML', ['undo', 'redo'],['strong', 'em', 'del'], ['link'], ['formatting'], ['foreColor', 'backColor'], ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'], ['unorderedList', 'orderedList'], ['removeformat'],]}">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<button class="btn btn-lg btn-warning col-lg-3" ng-click="editPlan()">Edit!</button>
		</div>
	</div>
</div>