<div class="panel panel-primary">
	<!-- Default panel contents -->
	<div class="panel-heading">All Plans</div>
	<!--	Modal		-->
	<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="Confirmation">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="modal">Confirm Plan<span ng-if="selected.length > 1">s</span> Delete?</h4>
				</div>
				<div class="modal-body">
					<button class="btn btn-danger" data-dismiss="modal" ng-click="deleteSelected()" type="button">Delete Selected</button>
					<button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Table -->
	<uib-tabset active="active">
		<div class="btn-crud">
			<div class="pull-right">
<!--				<a class="btn btn-success btn-xs" ui-sref="newPlan" ui-sref-active="navActive">New Plan</span></a>-->
				<button class="btn btn-danger btn-xs" type="button" data-toggle="modal" data-target="#modal">Delete <span class="glyphicon glyphicon-trash"></span></button>
			</div>
		</div>
    <uib-tab index="0" heading="Web">
			<uib-accordion>
				<div class="container-fluid" ng-repeat="plan in plans.web track by $index">
					<plan></plan>
				</div>
				<ul uib-pagination total-items="plans.web.length" ng-model="currentPage.web" max-size="2" class="pagination-sm" boundary-link-numbers="true"></ul>
			</uib-accordion>
		</uib-tab>
    <uib-tab index="1" heading="LabView">
			<uib-accordion>
				<div class="container-fluid" ng-repeat="plan in labPlans track by $index">
					<plan></plan>
				</div>
				<ul uib-pagination total-items="plans.lab.length" ng-model="currentPage.lab" ng-change="setPage(currentPage.lab)" max-size="5" items-per-page="itemsPerPage" class="pagination-sm" boundary-link-numbers="true"></ul>
			</uib-accordion>
		</uib-tab>
  </uib-tabset>
</div>