<div class="panel panel-primary">
	<!-- Default panel contents -->
	<div class="panel-heading">All Plans</div>
	<!--	Modal		-->
	<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="Confirmation">
		<div class="modal-dialog modal-sm" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="modal">Confirm Plan<span ng-if="selected.length > 1">s</span> Delete?</h4>
				</div>
				<div class="modal-body">
					<button class="btn btn-danger" data-dismiss="modal" ng-click="deleteSelected()" type="button">Delete Selected</button>
					<button class="btn btn-default" data-dismiss="modal" type="button">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Table -->
	<uib-tabset active="active">
		<div class="btn-crud">
			<div class="col-md-2 pull-right">
				<a class="btn btn-success btn-xs" ui-sref="newPlan" ui-sref-active="navActive">New Plan</a>
				<button class="btn btn-danger btn-xs" type="button" data-toggle="modal" data-target="#modal">Delete Plans</button>
			</div>
		</div>
    <uib-tab index="0" heading="Web">
			<div class="container-fluid" ng-repeat="plan in plans.web track by $index">
				<view-template></view-template>
			</div>
		</uib-tab>
    <uib-tab index="1" heading="LabView">
<!--
			<table class="table table-condensed" cellspacing="0" cellpadding="0" style="border:none !important">
				<tr ng-repeat="plan in plans.lab track by $plan.id+$index">
					<td>
						<div class="container-fluid">
							<view-template></view-template>
						</div>
					</td>
				</tr>
			</table>
-->
				<table ng-table="labTableParams" class="table table-striped">
				<tr ng-repeat="plan in $data | filter:{'source': 1} track by plan.id+$index">
					<td class="col-md-1 text-center" data-title="'ID'"><strong>#{{plan.id}}</strong></td>
					<td class="col-md-1 text-center" data-title="'Date'" filter="{date: 'text'}" sortable="'date'">{{plan.date}}</td>
					<td data-title="'Progress'">
						<div class="progress" uib-tooltip-template="'pages/plans/tooltipTemplate.html'" tooltip-placement="bottom" ng-mouseover="tooltip(plan.id)" tooltip-popup-delay="250"> 
							<div class="progress-bar progress-bar-default progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{plan.progress}}%">
								<span ng-class="plan.progress <= 10 ? 'progressBlack' : ''">
									<strong>{{plan.progress}}%</strong>
								</span>
							</div>
						</div>
					</td>
					<td class="col-md-1 text-center" data-title="'Author'" filter="{username: 'text'}" sortable="'username'">{{plan.username}}<span ng-if="plan.username == null">Debug</span></td>
					<td class="col-md-1 text-center" data-title="'Source'"><span class="glyphicon" ng-class="{'glyphicon-wrench' : plan.source == 1, 'glyphicon-user' : plan.source == 0}"></span></td>
					<td class="col-md-1 text-center" data-title="'View'">	
						<div ng-click="view(plan.id)" class="btn btn-info">View</div>	
					</td>
					<td ng-if="currentUser.rank > 50" class="col-md-1 text-center" data-title="'Modify'">
						<input type="checkbox" ng-model="selected[$index]" ng-true-value="{{plan.id}}" ng-false-value="{{undefined}}">	
					</td>
				</tr>
			</table>
		</uib-tab>
  </uib-tabset>
</div>