<div class="panel panel-primary">
	<!-- Default panel contents -->
	<div class="panel-heading">
		All Plans
		<span class="pull-right">
			<input type="text" id="searchBox" ng-model="searchText" class="form-control" placeholder="Search">
		</span>
	</div>
	<div class="panel-body">
	</div>
	<!-- Table -->
	<table class="table">
		<thead>
			<tr>
				<th>Date</th>
				<th>Author</th>
				<th>View</th>
				<th>Seen</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="plan in plans | filter:searchText | orderBy:'-date' track by $index" id="{{plan.id}}">
				<th class="PopupTooltip">{{ plan.date }}</th>
				<td>{{ plan.user_username }}</td>
				<td>
					<div ng-click="view(plan.id)" class="btn btn-info" uib-tooltip-template="'pages/plans/tooltipTemplate.html'" ng-mouseover="tooltip(plan.id)" tooltip-popup-delay="100">View</div>
				</td>
				<td>
					<button ng-click="seen(plan)" ng-show="currentUser.rank > '10'" class="btn btn-xs btn-default">update</button>
					<span ng-model="test.checked" class="btn-lg glyphicon" ng-class="{'glyphicon-ok check-seen': plan.checked == true, 'glyphicon-minus check-unseen': plan.checked == false}"></span>
					<span ng-if="plan.checked == true">  By {{plan.checked_by}} </span>
				</td>
			</tr>
		</tbody>
	</table>
<!--
	<table ng-table="tableParams" class="table" show-filter="true">
		<tr ng-repeat="plan in plans track by $index">
			<td title="Date" filter="{date: 'text'}">{{plan.date}}</td>
			<td title="user_username" filter="{user_username: 'text'}">{{plan.user_username}}</td>
		</tr>
	</table>
-->
</div>