<div ng-if="isAuthenticated == true">
	<form>
		<div class="panel panel-primary" ng-controller="newPlanCtrl">
			<div class="panel-heading">New Test Plan</div>
			<div id="plan">
				<test-form ng-repeat="test in testCount" plan-params="array" params="params"></test-form>
			</div>
			<div class="panel-body">
				<div class="col-md-12">
				<button class="btn btn-xs btn-primary addButton" ng-click="addTest()">
					Add Test!
				</button>
					<button class="btn btn-xs btn-danger addButton" ng-click="removeTest()">
					Remove Test!
				</button>
				</div>
				<div class="col-md-12">
					<button class="btn btn-lg btn-success col-lg-3" ng-click="addPlan()">Submit!</button>
				</div>
			</div>
		</div>
	</form>
</div>
