<div id="desc" ng-controller="newPlanCtrl">
	<div>
		<div class="row">
			<div class="panel-body">
				<div class="col-md-2">
					<span class="label label-primary">Test Priority</span>
					<multiselect ng-model="test.priority" options="testParams.params.priorityList" selection-limit="1" ng-disabled="lock">
					</multiselect>
				</div>
				<div class="col-md-10">
					<span class="label label-primary">Test Lineup</span>
					<input required class="form-control" type="text" placeholder="Test Lineup" name="lineup" ng-model="test.lineup" value="{{test.lineup}}" ng-disabled="lock">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="panel-body">
					<span class="label label-primary">Station:</span>
					<multiselect required ng-model="test.station" options="testParams.params.stationList" show-search="true" selection-limit="1" ng-disabled="lock">
					</multiselect>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel-body">
					<span class="label label-primary">Test Name:</span>
					<multiselect ng-model="test.name" options="testParams.params.nameList" show-search="true" selection-limit="1" ng-disabled="lock">
					</multiselect>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel-body">
					<span class="label label-primary">Chip S/N:</span>
					<multiselect ng-model="test.chips" options="testParams.params.chipList" show-select-all="true" show-search="true" show-unselect-all="true" ng-disabled="lock">
					</multiselect>
					<!--
					<input class="form-control" type="text" ng-model="chips.newChip" name="newChip">
					<button class="btn btn-xs btn-primary addButton" ng-click="addChip()">
						add!
					</button>
-->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="panel-body">
					<span class="label label-primary">Pin:</span></br>
					<span>From</span>
					<input ng-model="test.pinFrom" type="number" class="Pin" ng-disabled="lock">
					<span>To</span>
					<input ng-model="test.pinTo" type="number" class="Pin" ng-disabled="lock">
					<span>Step</span>
					<input ng-model="test.pinStep" type="number" class="Pin" ng-disabled="lock"></br>
					</br>
					<span>Additional</span>
					<input ng-model="test.pinAdd" name="pinAdd" type="text" class="Pin" ng-disabled="lock">
				</div>
			</div>
			<div class="col-md-2">
				<div class="panel-body">
					<span class="label label-primary">Temperature:</span>
					<multiselect ng-model="test.temp" options="testParams.params.tempList" show-select-all="true" show-unselect-all="true" ng-disabled="lock">
					</multiselect>
				</div>
			</div>
			<div class="col-md-2">
				<div class="panel-body">
					<span class="label label-primary">Channel:</span>
					<multiselect ng-model="test.channel" options="testParams.params.chList" show-select-all="true" show-unselect-all="true" ng-disabled="lock">
					</multiselect>
				</div>
			</div>
			<div class="col-md-2">
				<div class="panel-body">
					<span class="label label-primary">Antenna:</span>
					<multiselect ng-model="test.antenna" options="testParams.params.antList" show-select-all="true" show-unselect-all="true" ng-disabled="lock">
					</multiselect>
				</div>
			</div>
			<div class="col-md-2">
				<div class="panel-body">
					<span class="label label-primary">MCS:</span></br>
					<input ng-model="test.mcs" type="number" class="Pin" ng-disabled="lock">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<div class="panel-body">
					<span class="label label-primary">Voltage:</span>
					<input ng-model="test.voltage" type="number" class="Pin" ng-disabled="lock">
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel-body">
					<span class="label label-primary">Notes:</span>
<!--					<input  type="text" ng-model="test.notes" ng-disabled="lock">-->
					<textarea ng-model="test.notes" ng-disabled="lock"></textarea>
				</div>
			</div>
		</div>
		<div>
			<div class="col-md-12">
				<div class="panel-body">
					<span class="label label-primary">Time Calculator:</span>
					<span>lineups</span>
					<input ng-model="test.lineups" type="number" class="Pin" ng-disabled="lock">
					<span>Secondes per iteration</span>
					<input ng-model="test.seconds" type="number" class="Pin" ng-disabled="lock">
					<span>Number of Pins</span>
					<input ng-model="test.pins" type="number" class="Pin" ng-disabled="lock">
					<span>Number of antennas</span>
					<input ng-model="test.ants" type="number" class="Pin" ng-disabled="lock">
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<button class="btn btn-xs btn-info addButton" ng-click="addTest1()" ng-disabled="lock">
		Insert!
	</button>
		<button class="btn btn-xs btn-warning addButton" ng-click="editToggle()">
		Edit!
	</button>
	</div>
</div>
<hr/>