<div id="desc" ng-controller="newPlanCtrl">
	<div>
		<div class="row">
			<div class="panel-body">
				<div class="col-md-2">
					<span class="label label-primary">Test Priority</span>
					<multiselect ng-model="test.priority" options="testParams.params.priorityList" selection-limit="1" ng-disabled="lock">
					</multiselect>
				</div>
				<div class="col-md-10">
					<span class="label label-primary">Test Lineup</span>
					<input class="form-control" type="text" placeholder="Test Lineup" name="lineup" ng-model="test.lineup" value="{{test.lineup}}" ng-disabled="lock">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="panel-body">
					<span class="label label-primary">Station:</span>
					<multiselect required ng-model="test.station" options="testParams.params.stationList" show-search="true" selection-limit="1" ng-disabled="lock">
					</multiselect>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel-body">
					<span class="label label-primary">Test Name:</span>
					<!--	M stations	-->
					<multiselect ng-if="test.station == 'M-CB1' || test.station == 'M-CB2'" ng-model="test.name" options="testParams.params.nameListM" show-search="true" selection-limit="1" id-prop="id" display-prop="test_name" ng-disabled="lock">
					</multiselect>
					<!--	R stations	-->
					<multiselect ng-if="test.station == 'R-CB1' || test.station == 'R-CB2'" ng-model="test.name" options="testParams.params.nameListR" show-search="true" selection-limit="1" id-prop="id" display-prop="test_name" ng-disabled="lock">
					</multiselect>
				</div>
			</div>
			<div class="col-md-4">
				<div class="panel-body">
					<span class="label label-primary">Chip S/N:</span>
					<multiselect ng-if="test.station == 'M-CB1' || test.station == 'M-CB2'" ng-model="test.chips" options="testParams.params.chipListM" groupBy="station" id-prop="Serial_Number" display-prop="Serial_Number" search-limit="15" show-select-all="true" show-search="true" show-unselect-all="true" ng-disabled="lock">
					</multiselect>
					<multiselect ng-if="test.station == 'R-CB1' || test.station == 'R-CB2'" ng-model="test.chips" options="testParams.params.chipListR" groupBy="station" id-prop="Serial_Number" display-prop="Serial_Number" search-limit="15" show-select-all="true" show-search="true" show-unselect-all="true" ng-disabled="lock">
					</multiselect>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4" ng-if="test.station != 'M-CB1' && test.station != 'M-CB2'">
				<div class="panel-body">
					<span class="label label-primary">Pin:</span></br>
					<span>From</span>
					<input ng-model="test.pinFrom" type="number" class="Pin" ng-disabled="lock">
					<span>To</span>
					<input ng-model="test.pinTo" type="number" class="Pin" ng-disabled="lock">
					<span>Step</span>
					<input ng-model="test.pinStep" type="number" class="Pin" ng-disabled="lock"></br>
					</br>
					<span>Additional</span>
					<input ng-model="test.pinAdd" name="pinAdd" type="text" class="Pin" ng-disabled="lock">
				</div>
			</div>
			<div class="col-md-2">
				<div class="panel-body">
					<span class="label label-primary">Temperature:</span>
					<multiselect ng-model="test.temp" options="testParams.params.tempList" show-select-all="true" show-unselect-all="true" ng-disabled="lock">
					</multiselect>
				</div>
			</div>
			<div class="col-md-2">
				<div class="panel-body">
					<span class="label label-primary">Channel:</span>
					<multiselect ng-model="test.channel" options="testParams.params.chList1" show-select-all="true" show-unselect-all="true" ng-disabled="lock">
					</multiselect>
<!--
					<multiselect ng-if="test.station == 'R-CB1' || test.station == 'M-CB1'" ng-model="test.channel" options="testParams.params.chList1" show-select-all="true" show-unselect-all="true" ng-disabled="lock">
					</multiselect>
					<multiselect ng-if="test.station == 'R-CB2' || test.station == 'M-CB2'" ng-model="test.channel" options="testParams.params.chList2" show-select-all="true" show-unselect-all="true" ng-disabled="lock">
					</multiselect>
-->
				</div>
			</div>
			<div class="col-md-2" ng-if="test.station != 'M-CB1' && test.station != 'M-CB2'">
				<div class="panel-body">
					<span class="label label-primary">Antenna:</span>
					<multiselect ng-model="test.antenna" options="testParams.params.antList" show-select-all="true" show-unselect-all="true" ng-disabled="lock">
					</multiselect>
				</div>
			</div>
			<div class="col-md-2" ng-if="test.station != 'R-CB1' && test.station != 'R-CB2'">
				<div class="panel-body">
					<span class="label label-primary">XIF:</span>
					<multiselect ng-model="test.xif" options="testParams.params.xifList" show-select-all="true" show-unselect-all="true" ng-disabled="lock">
					</multiselect>
				</div>
			</div>
			<div class="col-md-2" ng-if="test.station != 'M-CB1' && test.station != 'M-CB2'">
				<div class="panel-body">
					<span class="label label-primary">MCS:</span></br>
					<input ng-model="test.mcs" type="number" class="Pin" ng-disabled="lock">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-2">
				<div class="panel-body">
					<span class="label label-primary">Voltage:</span>
					<input ng-model="test.voltage" type="number" class="Pin" ng-disabled="lock">
				</div>
			</div>
			<div class="col-md-6">
				<div class="panel-body">
					<span class="label label-primary">Notes:</span>
<!--					<input  type="text" ng-model="test.notes" ng-disabled="lock">-->
					<textarea ng-model="test.notes" ng-disabled="lock"></textarea>
				</div>
			</div>
		</div>
		<div>
			<div ng-show="test.calc == true" class="col-md-12" ng-if="test.station != 'M-CB1' && test.station != 'M-CB2'">
				<div class="panel-body row">
					<div class="col-md-9">
						<span class="label label-primary">Time Calculator:</span>
						<span>lineups</span>
						<input ng-model="test.lineups" type="number" class="Pin" ng-disabled="lock">
						<span>Iteration time (sec)</span>
						<input ng-model="test.seconds" type="number" class="Pin" ng-disabled="lock">
						<span>Number of Pins</span>
						<input ng-model="test.pins" type="number" class="Pin" ng-disabled="lock">
						<span>Number of antennas</span>
						<input ng-model="test.ants" type="number" class="Pin" ng-disabled="lock">
					</div>
					<div class="col-md-3">
						<span class="label label-primary">Total:</span>
						<label class="form-control">{{(test.lineups * test.seconds * test.pins * test.ants)/3600}} Hours Per Chip</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-12">
		<button class="btn btn-xs btn-default addButton" ng-click="showCalc()" ng-disabled="lock">
			Time Calculater
		</button>
		<button class="btn btn-xs btn-info addButton" ng-click="addTest1()" ng-disabled="lock">
		Insert!
	</button>
		<button class="btn btn-xs btn-warning addButton" ng-click="editToggle()">
		Edit!
	</button>
	</div>
</div>
<hr/>