<div id="desc" ng-controller="newPlanCtrl" ng-init="test.checkLineup = true; test.priority = []; test.user = currentUser">
	<div class="panel col-md-12">
		<span class="">Check Lineups? <input type="checkbox" ng-model="test.checkLineup" ng-disabled="lock"></span>
	</div>
	<div class="panel-body">
		<div class="row">
			<div class="col-md-3">
				<span class="label label-dangerC">Station:</span>
				<ui-select style="min-width: 100%" multiple limit="1" close-on-select="false" ng-model="test.station" data-placeholder="Pick Test" ng-disabled="lock">
					<ui-select-match>{{$item.name}}</ui-select-match>
					<ui-select-choices repeat="station in testParams.params.workStations|filter: $select.search" sortable="true">{{station.name}}</ui-select-choices>
				</ui-select>
			</div>
			<div class="col-md-4">
				<span class="label label-dangerC">Test Name:</span>
				<div ng-if="test.station[0].idx">
					<ui-select style="min-width: 100%" multiple limit="1" close-on-select="false" ng-model="test.testType" data-placeholder="Pick Test" ng-disabled="lock">
						<ui-select-match>{{$item.test_name}}</ui-select-match>
						<ui-select-choices repeat="test in testParams.params.testTypes | filter:{workstation_id: test.station[0].idx}|filter: $select.search" sortable="true">{{test.test_name}}</ui-select-choices>
					</ui-select>
				</div>
			</div>
			<div class="col-md-2">
				<span class="label label-dangerC">Test Priority</span>
				<ui-select style="min-width: 100%" multiple limit="1" close-on-select="false" ng-model="test.priority" data-placeholder="Pick Test" ng-disabled="lock">
						<ui-select-match>{{$item.value}}</ui-select-match>
						<ui-select-choices repeat="priority in testParams.params.priorityList">{{priority.display_name}}</ui-select-choices>
					</ui-select>
			</div>
		</div>
		<div ng-if="test.testType[0]" class="panel panel-default rowMarg">
			<div class="panel-heading" Data-toggle="collapse" data-target="#{{$id}}" aria-expanded="true" aria-controls="struct">
				Test Struct
			</div>
			<div class="collapse panel-body in" id="{{$id}}" aria-expanded="true">
				<div ng-repeat="(sweepName, sweepData) in testStructs | filter:{station_id: test.station[0].idx, test_type_id: test.testType[0].type_idx}:true | orderBy: 'priority' track by sweepData.name" ng-init="sweepName = sweepData.name;">
					<!----------------------------------------------------------------			Lineups			---------------------------------------------------------------->
					<div ng-if="sweepData.data_type == 33" class="col-md-12 rowMarg" uib-popover="{{sweepData.tooltip}}" popover-trigger="'mouseenter'" ng-init="test.sweeps[sweepName].data.config_id = sweepData.config_id; test.sweeps[sweepName].data_type = sweepData.data_type">
						<span class="label label-dangerC">{{sweepName}}</span>
						<input class="form-control" type="text" placeholder="some text" ng-model="test.sweeps[sweepName].data.value" ng-disabled="lock">
					</div>
					<!----------------------------------------------------------------			Pins			---------------------------------------------------------------->
					<div ng-if="sweepData.data_type == 60" class="col-md-5 rowMarg"  uib-popover="{{sweepData.tooltip}}" popover-trigger="'mouseenter'">
						<span class="label label-dangerC">{{sweepName}}</span>
						<div class="input-group input-group-sm" ng-init="test.sweeps[sweepName].config_id = sweepData.config_id; test.sweeps[sweepName].data_type = sweepData.data_type">
							<input class="form-control" type="number" placeholder="From" ng-model="test.sweeps[sweepName].data.from" aria-describedby="from" ng-disabled="lock">
							<span class="input-group-addon" id="from" style="font-weight:900">;</span>
							<input class="form-control" type="number" placeholder="Step" ng-model="test.sweeps[sweepName].data.step" aria-describedby="step" ng-disabled="lock">
							<span class="input-group-addon" id="step" style="font-weight:900">;</span>
							<input class="form-control" type="number" placeholder="To" ng-model="test.sweeps[sweepName].data.to" aria-describedby="to"  ng-disabled="lock">
							<span class="input-group-addon" id="to" style="font-weight:900">;</span>
							<input class="form-control" type="text" placeholder="Extra" ng-model="test.sweeps[sweepName].data.ext" uib-popover="Ex: -50,-55.5,-60" popover-trigger="'mouseenter'" ng-disabled="lock">
						</div>
					</div>
					<!----------------------------------------------------------------			Chips			---------------------------------------------------------------->
					<div ng-if="sweepData.data_type > 100" class="col-md-3 rowMarg" uib-popover="{{sweepData.tooltip}}" popover-trigger="'mouseenter'" ng-init="test.sweeps[sweepName].data_type = sweepData.data_type">
						<span class="label label-dangerC">{{sweepName}}</span>
						<div class="input-group">
							<ui-select style="min-width: 100%" multiple close-on-select="false" ng-model="test.sweeps[sweepName].data" data-placeholder="Pick Test" ng-disabled="lock">
								<ui-select-match>{{$item.chip_sn}}-{{$item.chip_process_abb}}</ui-select-match>
								<ui-select-choices repeat="chip in testParams.params.allChips |filter:{chip_type_id: sweepData.data_type - 100}|filter: $select.search" sortable="true" group-by="'chip_process_abb'">{{chip.chip_sn}}-{{chip.chip_process_abb}}</ui-select-choices>
							</ui-select>
							<span class="input-group-btn">
								<button type="button" ng-click="test.sweeps[sweepName].data = []" class="btn btn-default btn-sm" ng-disabled="lock">
									<span class="glyphicon glyphicon-trash"></span>
							</button>
							</span>
						</div>
					</div>
					<!----------------------------------------------------------------			Sweeps			---------------------------------------------------------------->
					<div ng-if="sweepData.data_type != 33 && sweepData.data_type < 100 && sweepData.data_type != 60" class="col-md-3 rowMarg" uib-popover="{{sweepData.tooltip}}" popover-trigger="'mouseenter'"  allow-clear ng-init="test.sweeps[sweepName].data_type = sweepData.data_type; test.sweeps[sweepName].config_id = sweepData.config_id">
						<span class="label label-dangerC">{{sweepName}}</span>
						<div class="input-group">
							<ui-select style="min-width: 100%" multiple close-on-select="false" ng-model="test.sweeps[sweepName].data" data-placeholder="Pick Test" ng-disabled="lock">
								<ui-select-match>{{$item.display_name}}</ui-select-match>
								<ui-select-choices repeat="sweep in testParams.params.allParams |filter:{config_id: sweepData.config_id}:true|filter: $select.search" sortable="true">{{sweep.display_name}}</ui-select-choices>
							</ui-select>
							<span class="input-group-btn">
								<button type="button" ng-click="test.sweeps[sweepName].data = []" class="btn btn-default btn-sm" ng-disabled="lock">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
								<button type="button" ng-click="selectAll(test, sweepData)" class="btn btn-default btn-sm" ng-disabled="lock">
									<span class="glyphicon glyphicon-check"></span>
								</button>
								<button class="btn btn-default btn-sm" ng-click="extras(test, sweepData)" ng-disabled="lock">
									<span class="glyphicon glyphicon-plus"></span>
								</button>
							</span>
						</div>
						<span ng-if="test.sweeps[sweepName].data.ext">
							<input uib-popover="Numbers,separated by comma (60, 70, -80)" popover-trigger="'mouseenter'" type="text" class="form-control btn-crud" ng-model="test.sweeps[sweepName].ext" placeholder="Extra {{sweepName}}" style="width: 100%;" ng-disabled="lock" ng-disabled="lock">
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
				<div class="panel-body" ng-disabled="lock">
					<span class="label label-primary">Notes:</span>
					<div trumbowyg-ng placeholder="Test Notes" ng-model="test.notes" editor-config="{btns: ['viewHTML', ['undo', 'redo'],['strong', 'em', 'del'], ['link'], ['formatting'], ['foreColor', 'backColor'], ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'], ['unorderedList', 'orderedList'], ['removeformat'],]}">
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<button class="btn btn-xs btn-default addButton" ng-click="showCalc()" ng-disabled="lock" ng-if="false">
			Time Calculater
		</button>
			<button class="btn btn-xs btn-info addButton" ng-click="insertTest()" ng-disabled="lock">
			Insert!
		</button>
			<button class="btn btn-xs btn-warning addButton" ng-click="editToggle()">
			Edit!
		</button>
			<span class="form-inline">
			<div class="form-group">
				<input type="number" ng-model="copyId" class="form-control" id="copy" placeholder="Test ID">
			</div>
			<button type="submit" class="btn btn-default" ng-click="copyTest()">Copy</button>
		</span>
		</div>
	</div>
	<hr/>