<table class="table-tooltip-striped">
	<thead style="color:red">
		<tr>
			<th style="font-weight:800" class="col-md-1">Priority</th>
			<th style="font-weight:800" class="col-md-1">Station</th>
			<th style="font-weight:800" class="col-md-3">Name</th>
			<th style="font-weight:800" class="col-md-1">Status</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="test in tests | orderBy: 'priority' track by $index">
			<td>{{test.priority}}</td>
			<td>{{test.station}}</td>
			<td ng-if="test.name">{{test.name}}</td>
			<td ng-if="test.test_name">{{test.test_name}}</td>
			<td>{{test.status}}</td>
		</tr>
	</tbody>
</table>