<div class="containter">
<!--	<iframe src="http://10.18.135.50/Untitled1.php" width="1000px" height="300px"></iframe>-->
	<div class="row">
		<div class="bs-callout bs-callout-infoC" style="padding-bottom: 4%">
			<p>Color Assistance:</p>
			<div class="col-md-2">
				<span class="label label-default">IDLE</span> - No chip running
			</div>
			<div class="col-md-4">
				<span class="label label-success">Completed</span> - All chips completed successfully
			</div>
			<div class="col-md-3">
				<span class="label label-warning">In Progress</span> - Test is running	
			</div>
			<div class="col-md-3">
				<span class="label label-danger">Error</span> - 1 chip or more has an error
			</div>		
		</div>
	</div>
</div>
</br>
<div class="panel panel-primary">
	<div class="panel-heading">Submitted by: {{plan.user_username}}
		<span class="pull-right"> {{ plan.date }} </span>
	</div>
	<div class="panel col-md-12">
		<span class="pull-right btn-crud">
			<a class="btn btn-xs btn-success" href="#/plans/{{plan.id}}/addtests">
					Add Tests
			</a>
			<button class="btn btn-xs btn-danger" ng-click="removePlan()">
					Delete
			</button>
		</span>
	</div>
	<div class="panel-body" id="planBody" ng-repeat="test in plan.tests | orderBy: 'priority' track by $index">
			<!--	Newest format!	-->
			<div id="desc" class="panel panel-default"  ng-class="{'panel-R1' : test.station_id == '5', 'panel-R2' : test.station_id == '6', 'panel-M1' : test.station_id == '2', 'panel-M2' : test.station_id == '3', 'panel-fs' : test.station_id == '4'}" ng-if="!test.station[0].station">
			<div class="panel-heading" Data-toggle="collapse" data-target="#{{test.test_id}}" aria-expanded="false" aria-controls="{{test.test_id}}" ng-click="onOff=!onOff">
				<strong >Priority: {{test.priority[0].value}}, Station: {{test.name}}, Test: {{test.test_name}} , ID: #{{test.test_id}}</strong>
				<span class="pull-right glyphicon" ng-class="onOff ? 'glyphicon-chevron-down' : 'glyphicon-chevron-left'"></span>
				<span class="pull-right">
					<span class="glyphicon glyphicon-envelope" ng-if="test.comments.length > 0" id="testStatus"></span>
					<span class="label" ng-class="{'label-default' : test.status_id == 1, 'label-warning' : test.status_id == 2, 'label-success' : test.status_id == 3, 'label-danger' : test.status_id == 4}" ng-model="test.status">{{test.status}}</span>
				</span>
			</div>
			<div class="collapse fade" id="{{test.test_id}}">
				<div class="panel-body">
					<div class="panel row">
						<div class="col-md-9" style="margin-bottom: 1%;">
							<div class="input-group input-group-sm">
								<span class="input-group-addon" id="from" style="font-weight:900">Test ID:</span>
								<label class="form-control" type="number">#{{test.test_id}}</label>
								<span class="input-group-addon" id="from" style="font-weight:900">Test Priority:</span>
								<label class="form-control" type="number">{{test.priority[0].value}}</label>
								<span class="input-group-addon" id="from" style="font-weight:900">Station:</span>
								<label class="form-control" type="number">{{test.name}}</label>
								<span class="input-group-addon" id="step" style="font-weight:900">PC: </span>
								<label class="form-control" type="number">{{test.hostname}}</label>
							</div>
						</div>
						<div class="col-md-3" ng-if="currentUser.username == plan.user_username || currentUser.rank > '10'">
							<span class="pull-right">
								<a class="btn btn-xs btn-warning" href="#/plans/{{plan.id}}/test/{{test.test_id}}/edit">Edit</a>
								<a class="btn btn-xs btn-danger" ng-click="removeTestFS()">
									Delete
								</a>
							</span>
						</div>
					</div>
<!--
					<div class="row">
						<div class="panel-body">
							<div class="col-md-2 col-sm-2">
								<span class="label label-primary">Test ID:</span>
								<label class="form-control" style="min-width: 30%;">{{test.test_id}}</label>
							</div>
							<div class="col-md-2 col-sm-2">
								<span class="label label-primary">Test Priority:</span>
								<label class="form-control" style="min-width: 30%;">{{test.priority[0].value}}</label>
							</div>
							<div class="col-md-2">
								<span class="label label-primary">Station:</span>
								<ul class="list-group">
									<li class="list-group-item">{{test.name}}</li>
									<li class="list-group-item">{{test.hostname}}</li>
								</ul>
						</div>
					</div>
-->
					<div class="row">
						<div ng-repeat="(sweepName, sweepData) in test.sweeps track by sweepName">
						<!----------------------------------------------------------------			Lineups			---------------------------------------------------------------->
						<div ng-if="sweepData.data_type == 33" class="col-md-12 rowMarg" uib-popover="{{struct.tooltip}}" popover-trigger="'mouseenter'">
							<span class="label label-primary">{{sweepName}}</span>
							<label class="form-control">{{sweepData.data.value}}</label>
						</div>
						<!----------------------------------------------------------------			Pins			---------------------------------------------------------------->
						<div ng-if="sweepData.data_type == 60" class="col-md-4 rowMarg"  uib-popover="{{struct.tooltip}}" popover-trigger="'mouseenter'">
							<span class="label label-primary">{{sweepName}}</span>
							<div class="input-group input-group-sm">
								<label class="form-control" type="number" uib-popover="From" popover-trigger="'mouseenter'">{{sweepData.data.from}}</label>
								<span class="input-group-addon" id="from" style="font-weight:900">;</span>
								<label class="form-control" type="number" uib-popover="Step" popover-trigger="'mouseenter'">{{sweepData.data.step}}</label>
								<span class="input-group-addon" id="step" style="font-weight:900">;</span>
								<label class="form-control" type="number" uib-popover="To" popover-trigger="'mouseenter'">{{sweepData.data.to}}</label>
								<span class="input-group-addon" id="to" style="font-weight:900">;</span>
								<label ng-if="sweepData.data.ext" class="form-control" type="text" uib-popover="Extra" popover-trigger="'mouseenter'">
									<span ng-repeat="pin in sweepData.data.ext">{{pin}}, </span>
								</label>
							</div>
						</div>
						<!----------------------------------------------------------------			Chips			---------------------------------------------------------------->
						<div ng-if="sweepData.data_type > 100" class="col-md-4 rowMarg" uib-popover="{{struct.tooltip}}" popover-trigger="'mouseenter'">
							<span class="label label-primary">{{sweepName}}</span>
							<table class="table table-condensed">
								<thead>
									<tr>
										<th>{{sweepName}}</th>
										<th>Status</th>
										<th ng-hide="test.station_id == [4,5]">Hot</th>
										<th ng-hide="test.station_id == [4,5]">Cold</th>
										<th class="text-center">By</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="chip in sweepData.data track by $index">
										<td >{{chip.chip_sn}}-{{chip.chip_process_abb}}</td>
										<td class="text-center">
											<span ng-click="chipStatus(chip, test.test_id)" class="glyphicon glyphicon-minus" ng-class="{'glyphicon-hourglass': param.status_id == 2, 'glyphicon-ok': param.status_id == 3, 'glyphicon-remove': param.status_id == 4}"></span>
										</td>
										<td ng-hide="test.station == 'PTAT/ABS/Vgb+TEMP'">
											<span class="glyphicon glyphicon-minus" ng-click="coldStatus(param)" ng-class="{'glyphicon-ok': param.cold == '1'}"></span>
										</td>
										<td ng-hide="test.station == 'PTAT/ABS/Vgb+TEMP'">
											<span class="glyphicon glyphicon-minus" ng-click="hotStatus(param)" ng-class="{'glyphicon-ok': param.hot == '1'}"></span>
										</td>
										<td>{{param.updated_by}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!----------------------------------------------------------------			Sweeps			---------------------------------------------------------------->
						<div ng-if="sweepData.data_type != 60 && sweepData.data_type != 33 && sweepData.data_type < 100" class="col-md-2 rowMarg" uib-popover="{{struct.tooltip}}" popover-trigger="'mouseenter'" allow-clear>
							<span class="label label-primary">{{sweepName}}</span>
							<ul ng-if="sweepData.data.length <= 5" class="list-group" style="min-width: 50%; width:fit-content">
								<li ng-repeat="data in sweepData.data track by $index" class="list-group-item">{{data.display_name}}</li>
							</ul>
							<ul ng-if="sweepData.data.length > 5" class="list-group">
								<li class="list-group-item">
									<span ng-repeat="data in sweepData.data track by $index">{{data.display_name}}, </span>
								</li>
							</ul>
						</div>
						<!----------------------------------------------------------------			Sweeps END			---------------------------------------------------------------->
						</div>
					</div>
					<div class="row">
						<div class="col-md-10">
								<div class="row">
									<div class="col-md-8" ng-hide="test.notes == '' || test.notes == null">
										<div class="panel-body">
											<span class="label label-primary">Notes:</span>
											<div trumbowyg-ng ng-disabled="lock" ng-model="test.notes" editor-config="{hideButtonTexts: true}">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel-body">
						<a class="btn btn-xs btn-success pull-right col-lg-5 addButton" href="#/plans/{{plan.id}}/test/{{test.id}}/comments/new">Add New Comment</a>
					</div>
					<div class="panel-footer" ng-if="test.comments[0]">
						<div ng-repeat="comment in test.comments track by $index">
							<div class="panel" ng-class="comment.severity == 'Minor' ? 'panel-warning' : 'panel-danger'">
								<div class="panel-heading" Data-toggle="collapse" data-target="#{{comment.comment_id}}" aria-expanded="false" aria-controls="{{comment.comment_id}}">
									<h3 class="panel-title">From: {{comment.username}}
										<div class="pull-right" ng-show="currentUser.username == comment.username  ||  currentUser.rank > '10'">
											<button class="btn btn-xs btn-warning" href="#/plans/{{test.plan_id}}/test/{{comment.test_id}}/comment/{{comment.comment_id}}/edit" ng-click="editComment()">Edit</button>
											<button class="btn btn-xs btn-danger" ng-click="removeComment()">
												Delete
											</button>
										</div>
									</h3>
								</div>
								<div class="panel-body collapse" id="{{comment.comment_id}}">
									<div class="row">
										<div class="col-md-3 col-sm-3 col-xs-3">
											<span class="label label-primary">Severity</span>
											<label class="form-control">{{comment.severity}}</label>
										</div>
										<div class="col-md-3 col-sm-3 col-xs-3">
											<span class="label label-primary">Test Station</span>
											<label class="form-control">{{test.station}}</label>
										</div>
										<div ng-if="comment.severity == 'Minor'">
											<div ng-if="test.station_id != 5">
												<div class="col-md-3 col-sm-3 col-xs-3">
													<span class="label label-primary">Chip</span>
													<label class="form-control">
														<span ng-if="comment.chip_r_id != -1">{{comment.chip_r_sn}}-{{comment.corner_r}}</span>
														<span ng-if="comment.chip_m_id != -1">{{comment.chip_m_sn}}-{{comment.corner_m}}</span>
													</label>
												</div>
											</div>
											<div ng-if="test.station_id == 5">
												<div class="col-md-3 col-sm-3 col-xs-3">
													<span class="label label-primary">Chip</span>
													<label class="form-control">{{comment.chip_r_sn}} - {{comment.chip_m_sn}}</label>
												</div>
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-md-8">
											<span class="label label-primary">Details:</span>
											<div class="col-md-2 col-sm-2" trumbowyg-ng ng-model="comment.comment" ng-disabled="lock">
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>