<hr/>
<div id="desc" ng-controller="newPlanCtrl" ng-init="test.checkLineup = false">
	<!--
	<div class="panel col-md-12">
		<span class="">Check Lineups? <input type="checkbox" ng-model="test.checkLineup" ng-disabled="lock"></span>
	</div>
-->
	<div class="panel-body" ng-switch="lineup.station[0].id">
		<div class="row">
			<div class="col-md-2">
				<div class="col-md-12">
					<span class="label label-dangerC">Work Station:</span>
					<ui-select multiple limit="1" close-on-select="true" ng-model="lineup.station" ng-disabled="lock">
						<ui-select-match>{{$item.work_station}}</ui-select-match>
						<ui-select-choices repeat="station in testParams.lineups.stations">{{station.work_station}}</option>
					</ui-select>
				</div>
				<div class="col-md-12" ng-switch-when="3">
					<span class="label label-dangerC">Chip Type:</span>
					<ui-select multiple limit="1" close-on-select="true" ng-model="lineup.chip_type" ng-disabled="lock">
						<ui-select-match>{{$item.chip_type}}</ui-select-match>
						<ui-select-choices repeat="chip in testParams.lineups.chipTypes">{{chip.chip_type}}</option>
					</ui-select>
				</div>
				<div class="col-md-12">
					<span class="label label-dangerC">Lineup Type:</span>
					<ui-select style="min-width: 100%" multiple limit="1" close-on-select="true" ng-model="lineup.type" data-placeholder="Lineup Type" ng-disabled="lock">
						<ui-select-match>{{$item.lineup_type}}</ui-select-match>
						<ui-select-choices repeat="type in testParams.lineups.types">{{type.lineup_type}}</option>
					</ui-select>
				</div>
			</div>
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-2">
						<span class="label label-dangerC">Temperatures:</span>
						<ui-select multiple close-on-select="false" ng-model="lineup.temps" ng-disabled="lock">
							<ui-select-match>{{$item}}</ui-select-match>
							<ui-select-choices repeat="temp in testParams.params.tempList">{{temp}}</option>
						</ui-select>
						<span ng-if="tempAdd">
							<input uib-popover="Numbers,separated by comma (60, 70, -80)" popover-trigger="'mouseenter'" type="text" class="form-control btn-crud" ng-model="lineup.temp_add" placeholder="Extra Temps" ng-mouseover="" style="width: 100%;" ng-disabled="lock">
						</span>
						<button class="btn btn-success btn-xs pull-right" ng-click="addTemp()"><span class="glyphicon glyphicon-plus"></span></button>
					</div>
					<div class="col-md-2">
						<span class="label label-dangerC">Channels:</span>
						<multiselect ng-model="lineup.channels" options="testParams.params.chList1" show-select-all="true" show-unselect-all="true" ng-disabled="lock">
						</multiselect>
					</div>
					<div ng-switch-when="2|3" ng-hide="lineup.chip_type[0].chip_type_id == 1" ng-switch-when-separator="|" class="col-md-2">
						<span class="label label-dangerC">XIFs:</span>
						<multiselect ng-model="lineup.xifs" options="testParams.params.xifList" show-select-all="true" show-unselect-all="true" ng-disabled="lock" display-prop="xif" id-prop="id">
						</multiselect>
					</div>
					<div ng-switch-when="3"  class="col-md-2" ng-if="(lineup.type[0].lineup_type_id == 3 || lineup.type[0].lineup_type_id == 2) && lineup.chip_type[0].chip_type_id == 1">
						<span class="label label-dangerC">Gain Table Index:</span>
						<multiselect ng-model="lineup.gain_table_idx" options="testParams.params.gainTableIdx" show-select-all="true" show-unselect-all="true" ng-disabled="lock" display-prop="xif" id-prop="id">
						</multiselect>
					</div>
					<div class="col-md-1">
						<span class="label label-dangerC">Voltage:</span>
						<input type="number" class="form-control" style="width: 150%" ng-model="lineup.voltage" ng-disabled="lock">
					</div>
					<div ng-switch-when="3"  class="col-md-3" ng-if="lineup.type[0].lineup_type_id == 3 || (lineup.type[0].lineup_type_id == 2 && lineup.chip_type[0].chip_type_id == 1)">
						<span class="label label-primary">Note:</span>
						<input type="text" class="form-control" style="width: 100%" ng-model="lineup.note" ng-disabled="lock">
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<!---------------------	TALYN A	--------------------->
				<div ng-switch-when="1|3" ng-switch-when-separator="|">
					<!---------------------	LO	--------------------->
					<div ng-if="(lineup.type[0].lineup_type_id == 7 || (lineup.station[0].id == 1 && lineup.type[0].lineup_type_id == 1)) && lineup.chip_type[0].chip_type_id != 2">
						<div class="panel panel-default rowMarg">
							<div class="panel-heading" Data-toggle="collapse" data-target="#{{$id}}" aria-expanded="false" aria-controls="struct">
								<label>LO Lineup</label>
							</div>
							<div class="collapse panel-body" id="{{$id}}">
								<div class="col-md-4">
									<div class="row">
										<div class="col-md-8">
											<label>Index</label>
										</div>
										<div class="col-md-3">
											<input type="text" class="form-control input-sm" style="width: 100%" ng-model="lineup.aLo_params.index" ng-disabled="lock">
										</div>
									</div>
								</div>
								<div class="col-md-4" ng-repeat="item in testParams.lineups.aLoParams track by $index">
									<div class="row">
										<div class="col-md-8">
											<label>{{item.parameter_name}}</label>
										</div>
										<div class="col-md-3">
											<input type="text" class="form-control input-sm" style="width: 100%" ng-model="lineup.aLo_params[item.parameter_name]" ng-disabled="lock">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!---------------------	Typical	--------------------->
					<div ng-if="lineup.type[0].lineup_type_id == 1 && lineup.chip_type[0].chip_type_id == 1" class="panel panel-default rowMarg">
						<div class="panel-heading" Data-toggle="collapse" data-target="#{{$id}}" aria-expanded="false" aria-controls="struct">
							<label>Typical</label>
						</div>
						<div ng-switch="lineup.type[0].lineup_type_id" class="collapse panel-body" id="{{$id}}">
							<!---------------------	TX	--------------------->
							<div ng-switch-when="1" class="col-md-3" ng-repeat="item in testParams.lineups.aTxParams track by $index">
								<div class="row">
									<div class="col-md-8">
										<label>{{item.parameter_name}}</label>
									</div>
									<div class="col-md-3" ng-class="inRange(item, lineup.typical_params[item.parameter_name])">
										<input type="text" class="form-control input-sm" style="width: 100%" ng-model="lineup.typical_params[item.parameter_name]" ng-disabled="lock" id="{{item.parameter_id}}" aria-describedby="{{item.parameter_name}}">
										<span id="{{item.parameter_name}}" class="help-block" ng-if="lineup.typical_params[item.parameter_name] && inRange(item, lineup.typical_params[item.parameter_name]) != 'has-success'">Invalid!</span>
									</div>
								</div>
							</div>
							<!--------------------- RX	--------------------->
							<div ng-switch-when="4" class="col-md-3" ng-repeat="item in testParams.lineups.aRxParams track by $index">
								<div class="row">
									<div class="col-md-8">
										<label>{{item.parameter_name}}</label>
									</div>
									<div class="col-md-3">
										<input type="text" class="form-control input-sm" style="width: 150%" ng-model="lineup.typical_params[item.parameter_name]" ng-disabled="lock">
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="row">
									<div class="col-md-2">
										<label>Note</label>
									</div>
									<div class="col-md-10">
										<input type="text" class="form-control input-sm" style="width: 100%" ng-model="lineup.typical_params.note" ng-disabled="lock">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!---------------------	END OF TALYN A	--------------------->
				<!---------------------	TALYN M	--------------------->
				<div ng-switch-when="2|3" ng-switch-when-separator="|">
					<div ng-switch="lineup.chip_type[0].chip_type_id">
						<div ng-switch-when="2" class="panel panel-default rowMarg">
							<div class="panel-heading" Data-toggle="collapse" ng-click="isCollapsed = !isCollapsed">
								<label>General Parameters</label>
							</div>
							<div class="panel-body" uib-collapse="isCollapsed">
								<div class="col-md-3 lineup-input" ng-repeat="item in testParams.lineups.mGeneralParams track by $index">
									<div class="row"  ng-hide="item.parameter_id == 309 && lineup.type[0].lineup_type_id == 1">
										<div class="col-md-10">
											<label>{{item.parameter_name}}</label>
										</div>
										<div class="col-md-2">
											<input type="text" class="form-control input-sm" style="width: 250%" ng-model="lineup.mGeneral_params[item.parameter_name]" ng-disabled="lock" id="{{item.parameter_id}}" aria-describedby="{{item.parameter_name}}">
											<span id="{{item.parameter_name}}" class="help-block" ng-if="lineup.typical_params[item.parameter_name] && inRange(item, lineup.typical_params[item.parameter_name]) != 'has-success'">Invalid!</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="panel panel-default rowMarg" ng-hide="lineup.type[0].lineup_type_id == 3" ng-switch-when="2">
							<div class="panel-heading" Data-toggle="collapse" data-target="#{{$id}}" aria-expanded="false" aria-controls="struct">
								<label>Typical</label>
							</div>
							<div ng-switch="lineup.type[0].lineup_type_id" class="collapse panel-body" id="{{$id}}">
								<!---------------------	TX / TX BoardFile	--------------------->
								<div ng-switch-when="1-2" ng-switch-when-separator="-" class="col-md-4 lineup-input" ng-repeat="item in testParams.lineups.mTxParams track by $index">
									<div class="row">
										<div class="col-md-7">
											<label>{{item.parameter_name}}</label>
										</div>
										<div class="col-md-2"  ng-class="inRange(item, lineup.typical_params[item.parameter_name])">
											<input type="text" class="form-control input-sm" style="width: 150%" ng-model="lineup.typical_params[item.parameter_name]" ng-disabled="lock" id="{{item.parameter_id}}" aria-describedby="{{item.parameter_name}}">
											<span id="{{item.parameter_name}}" class="help-block" ng-if="lineup.typical_params[item.parameter_name] && inRange(item, lineup.typical_params[item.parameter_name]) != 'has-success'">Invalid!</span>
										</div>
									</div>
								</div>
								<!--------------------- RX	--------------------->
								<div ng-switch-when="5" class="col-md-3" ng-repeat="item in testParams.lineups.mRxParams track by $index">
									<div class="row">
										<div class="col-md-7">
											<label>{{item.parameter_name}}</label>
										</div>
										<div class="col-md-3">
											<input type="text" class="form-control input-sm" style="width: 150%" ng-model="lineup.typical_params[item.parameter_name]" ng-disabled="lock">
										</div>
									</div>
								</div>
								<div class="col-md-4">
									<div class="row">
										<div class="col-md-3">
											<label>Note</label>
										</div>
										<div class="col-md-7">
											<input type="text" class="form-control input-sm" style="width: 100%" ng-model="lineup.typical_params.note" ng-disabled="lock">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!---------------------	END OF TALYN M	--------------------->
			</div>
		</div>
	</div>
</div>

<!--	Footer Controls	-->
<div class="panel-footer">
	<!--	<div class="col-md-12">-->
	<button class="btn btn-xs btn-info addButton" ng-click="insertLineup(lineup)" ng-disabled="lock">
				Insert!
			</button>
	<button class="btn btn-xs btn-warning addButton" ng-click="editToggle()">
				Edit!
			</button>
	<!--
		<span class="form-inline">
			<div class="form-group">
				<input type="number" ng-model="copyId" class="form-control" id="copy" placeholder="Test ID">
			</div>
			<button type="submit" class="btn btn-default" ng-click="copyTest()">Copy</button>
		</span>
-->
</div>